#
*.pyc
*.mo
*.swp
.hg
.hgignore
nohup.out
media/upload/User/
media/upload/BugReport/
media/upload/BugLog/
media/upload/Install/
media/*
logs/access.log
logs/alipay.log
logs/*
bin/gunicorn.pid
templates/default/index_download.html
static/default/cache/
static/classic/cache/
templates/classic/index_download.html
*.DS_Store

