#
*.pyc
*.mo
*.swp
.hg
.hgignore
nohup.out
media/upload/User/
media/upload/BugReport/
media/upload/BugLog/
media/upload/Install/
logs/access.log
bin/gunicorn.pid
templates/default/index_download.html
static/default/cache/
templates/classic/index_download.html
*.DS_Store

