Cython
Django==1.5.1
Markdown
MySQL-python
djangorestframework
greenlet
gunicorn
python-dateutil
redis
django-redis
distribute
slimit
django-compresshtml
django-compressor
django-debug-toolbar==dev
PIL
django-pagination
