	<form action="/msg_board/add_msg/" method="post">
	<table class="login right">
	<tr>
		<td width="40%">回复ID：</td>
		<td align="left"><input name="reply" value=""  type="text" class="input-len"/></td>
		</tr>


		<tr>
		<tr>
		<td width="40%">MSG：</td>
		<td align="left"><input name="msg" value=""  type="text" class="input-len"/></td>
		</tr>


		<tr>
		<td>
			<!-- 
			<a href="/User/pwd">忘记密码？</a>
			-->
		</td>
		<td align="left"><input type="submit" value="登陆"/> <a href="/User/register">注册</a></td>
		</tr>
	</table>

	</form>
