{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block header %} 

{% include "header.html" %}

{% endblock %}

{% block content %}
<div class="main index_banner">
	<div class="main_in">
		<div class="top_node">
			<div class="download_area">
				<layout name="index_download" cache="0" />
			</div>
			<div class="video_area">
				<div class="video_play">
					<img src="{{ STATIC_URL }}images/video_play2.png" class="mypng" />
					<a href="javascript:;" onclick="showFlv();" class="video_play_btn">
				
					</a>
				</div>
			</div>

		</div>
	</div>

<div class="player_video" style="">
<div class="player_box">
<div id="player1" style="">
  
<a href="http://www.macromedia.com/go/getflashplayer">没有Flash播放器？</a>

</div>
</div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}flash/swfobject.js"></script>
<script type="text/javascript">
var swfUrl="{{ STATIC_URL }}flash/";
var swfLeft=$(".main_in").offset().left;
	function showFlv(){
		var s1 = new SWFObject(swfUrl+"flvplayer.swf","single","960","540","7");
		s1.addParam("allowfullscreen","true");
		s1.addParam("vmode","window");
		s1.addVariable("autostart","true");
		s1.addVariable("file",swfUrl+"simplenect.flv");
		s1.addVariable("image",swfUrl+"flv_bg.jpg");
		s1.addVariable("width","960");
		s1.addVariable("height","540");
		s1.addVariable("displayheight","540");
		s1.write("player1");
		$("#player1").css({"left":swfLeft});
		$("#player1").show();
		$(".player_video").show();
	}
	$(".player_video").click(function(){
		$("#player1").hide();
		$(".player_video").hide();
		$("#player1").html("");
	});

</script>
</div>
<div class="center">
<div class="center_area">
<div class="fun_area">
	<div class="fun_left_fixed">
	<div class="fun_left" id="fun_share_top">
		<span class="fun_left_title">Simplenect的功能</span>
		<ul>
			<li class="file_share"><span style="background:url({{STATIC_URL}}images/fun_area.jpg) no-repeat scroll 0 -32px transparent;"></span><a href="#file" class="fun_share" style="color:#000000;">文件共享</a></li>
			<li class="print_share"><span></span><a href="#print" class="fun_share">打印机共享</a></li>
			<li class="chat_share"><span></span><a href="#chat" class="fun_share">聊天协同办公</a></li>
		</ul>
	</div>
	<div id="fun_share_left" class="fun_left fun_share_left" style="display:none;">
	<span class="fun_left_title">Simplenect的功能</span>
	<ul>
		<li class="file_share"><span style="background:url({{ STATIC_URL }}images/fun_area.jpg) no-repeat scroll 0 -32px transparent;"></span><a href="#file" class="fun_share" style="color:#000000;">文件共享</a></li>
			<li class="print_share"><span></span><a href="#print" class="fun_share">打印机共享</a></li>
			<li class="chat_share"><span></span><a href="#chat" class="fun_share">聊天协同办公</a></li>
	</ul>
	</div>
	</div>
	<div class="fun_right">
	<a name="file" id="a_file"></a>
	<div class="fun_share_0">
		<div class="fun_right_title">文件快速共享</div>
		<div class="fun_right_text">
		简单：没有复杂的设置，不同操作系统共享信息不再是个难题；<br />
		安全：无需借助第三方服务器，自己的数据自己管理；<br />
		快速：优秀的传输性能帮你节约大量时间；<br />
		跨网段：即使朋友在异地，也和局域网一样可以彼此分享文件
		</div>
		<div class="fun_pic">
		<img src="{{STATIC_URL}}images/file_share.jpg" />
		</div>
	</div>
	<a name="print" id="a_print"></a>
	<div class="fun_share_1">
		<div class="fun_right_title">打印机共享</div>
		<div class="fun_right_text">
		不仅帮你搞定局域网打印共享，还可以将打印机分享给互联网上的朋友
		</div>
		<div class="fun_pic">
		<img src="{{STATIC_URL}}images/print_share.jpg" />
		</div>
	</div>

	<a name="chat" id="a_chat"></a>
	<div class="fun_share_2">
		<div class="fun_right_title">聊天协同办公</div>
		<div class="fun_right_text">
		</div>
		<div class="fun_pic">
		<img src="{{STATIC_URL}}images/chat_share.jpg" />
		</div>
	</div>
	</div>
	<div class="clear"></div>
</div>
</div>

</div>
<div class="comment">
	<div class="comment_in w1000">
		<div class="send_area">
			<div class="send_area_top">&nbsp;</div>
			<div class="send_area_text">
			如果你对Simplenect软件的使用有问题，欢 迎您留下宝贵的意见让我们一起成长！
			<form  action="/msg_board/add_msg/" method="post" onsubmit="return checkMsg();">
				{% csrf_token %}
				<textarea id="msg_content" name="msg"></textarea>
				<div class="send_area_btn">
					<input type="hidden" name="send_from" value="1" />
					<input type="submit" name value="" class="btn_send2"/>
				</div>
			</form>	
			</div>
		</div>

		<div class="list_comment">
		<ul class="msg_board">

		{% if msg_list %}
			{% if user.is_superuser %}
				{% for msg in msg_list %}
			<li id="msg_id_{{ msg.id }}">
				<div class="board_left">
					<div class="board_img">

						{% if msg.user_id > 0 %}
							{% for user in user_list %}
								{% if not user.msg.user_id %}
									<img src="{&IMG}/{$userList.$uid|getPicUri}/snap_50X50_{$userList.$uid|getPicName}" />
								{% else %}
									<img src="{{ STATIC_URL }}images/snap_50X50_default_head.jpg" />
								{% endif %}
							{% endfor %}
						{% else %}
							<img src="{{ STATIC_URL }}images/snap_50X50_default_head.jpg" />
						{% endif %}
					</div>
				</div>
				<div class="board_area">
					<div class="board_user"><span class="board_uname" id="user_{{ msg.id }}">
						{% if msg.user_id > 0 %}
							{{ msg.user_nick }}
						{% else %}
							  {{ msg.ip|slice:"8"|add:"*"}}
						{% endif %}
						</span><span class="board_time">{{ msg.create_time|date:"Y-m-d H:i:s" }}</span><span class="board_reply"><span class="reply_small"><a href="javascript:replyMsg({{ msg.id }});"></a></span><span> | <a href="javascript:delMsg({{ msg.id }});">删除</a></span></span></div>
					
					<div class="board_right">
					
						<div class="board_content">
							<div class="board_body">
							{{ msg.msg }}
							</div>
						</div>
						<div class="reply_area">
						{% for reply in reply_list.values %}
							{% if  reply.reply_id == msg.id %}
								<div class="board_body dashed_border">答：{{ reply.msg }}</div>
							{% endif %}			
						{% endfor %}
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</li>
					{% endfor %}
				{% elif user.is_authenticated %}
					{% for msg in msg_list %}

			<li>
				<div class="board_left">
					<div class="board_img">
						{% if msg.user_id > 0 %}
							{% for user in user_list %}
								{% if not user.msg.user_id %}
									<img src="{&IMG}/{$userList.$uid|getPicUri}/snap_50X50_{$userList.$uid|getPicName}" />
								{% else %}
									<img src="{{ STATIC_URL }}images/snap_50X50_default_head.jpg" />
								{% endif %}
							{% endfor %}
						{% else %}
							<img src="{{ STATIC_URL }}images/snap_50X50_default_head.jpg" />
						{% endif %}
						
					</div>
				</div>
	
				<div class="board_area">
					<div class="board_user"><span class="board_uname" id="user_{{ msg.id }}">
						{% if msg_user_id > 0 %}
							{{ msg.user_nick }}
						{% else %}
						  {{ msg.ip|slice:"8"|add:"*" }}
						{% endif %}
					</span><span class="board_time">{{ msg.create_time|date:"Y-m-d H:i:s" }}</span><span class="board_reply"><span class="reply_small"><a href="javascript:replyMsg({$msg.id});"></a></span></span></div>
					<div class="board_right">
						<div class="board_content">
							<div class="board_body">
							{{ msg.msg }}
							</div>
						</div>
	
						<div class="reply_area">
							{% for reply in reply_list.values %}
								{% if  reply.reply_id == msg.id %}					
									<div class="board_body dashed_border">
										答：{{ reply.msg }}
									</div>
								{% endif %}			
							{% endfor %}

						</div>

					</div>
				</div>
				<div class="clear"></div>
			</li>

				{% endfor %}
			{% else %}
			{% for msg in msg_list %}
			<li>
			
				<div class="board_left">
					<div class="board_img">
						{% if msg.user_id > 0 %}
							{% for user in user_list %}
								{% if not user.msg.user_id %}
									<img src="{&IMG}/{$userList.$uid|getPicUri}/snap_50X50_{$userList.$uid|getPicName}" />
								{% else %}
								<img src="{{ STATIC_URL }}images/snap_50X50_default_head.jpg" />
								{% endif %}
							{% endfor %}
						{% else %}
							<img src="{{ STATIC_URL }}images/snap_50X50_default_head.jpg" />
						{% endif %}

					</div>
				</div>
			
				<div class="board_area">
					<div class="board_user">
						<span class="board_uname" id="user_{$msg.id}">
						{% if msg.user_id > 0 %}
							{{ msg.user_nick }}
						{% else %}
							  {{ msg.ip|slice:"8"|add:"*"}}
						{% endif %}
						</span><span class="board_time">{{ msg.create_time|date:"Y-m-d H:i:s" }}</span><span class="board_reply"><span class="reply_small"><a href="javascript:replyMsg({{ msg.id }});"></a></span></span>
					</div>
					<div class="board_right">
					<div class="board_content">
						<div class="board_body">
						{{ msg.msg }}
						</div>
					</div>
					<div class="reply_area">
						{% for reply in reply_list.values %}
							{% if  reply.reply_id == msg.id %}					
								<div class="board_body dashed_border">
								答：{{ reply.msg }}
								</div>
							{% endif %}			
						{% endfor %}
					</div>
			
					</div>
				
				</div>
				<div class="clear"></div>
			</li>
		{% endfor %}
		
		</ul>
		{% endif %}	
	{% endif %}
		<div class="board_more_title"><span class="board_more_text">共</span><a href="/msg_board/" target="_blank">
			<span class="board_more_count">{{ msg_count }}</span></a>
			<span class="board_more_text">条留言</span></div>
		</div>
		
		<div class="clear"></div>
		<div id="msg_form" class="send_reply">
		<form  action="/msg_board/add_msg" method="post" onsubmit="return checkMsg3();">
			{% csrf_token %}
			<textarea id="msg_content3" name="msg"></textarea>
			<div class="comment_small_bg" id="scroll_comment"></div>
			<div class="clear"></div>
			<div class="send_btn send_btn_scroll">
				<input type="hidden" name="send_from" value="1" />
				<input type="submit" name value="" class="btn_send"/>
				<input type="button" name value="" class="btn_cancel btn_cancel_scroll"/>
			</div>
		</form>
		</div>			
	</div>
	<div class="clear"></div>
</div>
	
	<div class="reply_form" style="display:none;">
	<div class="send_board">
	<span class="send_u" id="reply_u"> 回复“阡陌游客”：</span>
	</div>
	<div class="send_content2 send_bg" >
	<form  action="/msg_board/add_msg/" method="post" onsubmit="return checkMsg2();">
		{% csrf_token %}
		<textarea name="msg" id="msg_content2"></textarea>
		<div class="reply_btn">
		<input type="hidden" name="send_from" value="1" />
		<input id="reply_msg" type="hidden" name="reply" value="" />
		<input type="submit" value="" class="send_button"/>
		<input type="button" name="" onclick="javascript:replyClose();" class="reply_close"/>
		</div>
	</form>
	</div>
	</div>




	<script>

	$(function(){
		$(".menu_index").css({"color":"#000000"});
		$(".job_item").click(function(){
			$(this).parent("dt").next("dd").show();
		});

		$(".faq_show_hide").parent().toggle(
			function(){
				$(this).next("dd").show();
				$(this).children("a").removeClass("faq_hide");
				$(this).children("a").addClass("faq_show");
			},
			function(){
				$(this).next("dd").hide();
				$(this).children("a").removeClass("faq_show");
				$(this).children("a").addClass("faq_hide");
			}
		);

		$("#top_comment").click(function(){
			$(this).hide();
			$("#msg_content").css({"height":"91px","border-bottom":"1px solid #c8c8c8"});
			$(".send_btn_top").fadeIn("fast");
			$("#msg_content")[0].focus();
		});

		$("#msg_content").focus(function(){
			$("#top_comment").hide();
			$(this).prev("textarea").css({"height":"91px","border-bottom":"1px solid #c8c8c8"});
			$(".send_btn_top").fadeIn("fast");
		});
		
		$(".btn_cancel_top").click(function(){
			$("#msg_content").val("");
			$("#top_comment").show();
			$("#msg_content").css({"height":"33px","border-bottom":"1px solid #b5dbe8"});
			$(".send_btn_top").fadeOut("fast");
			
		});

		$("#scroll_comment").click(function(){
			$(this).hide();
			$("#msg_content3").css({"height":"91px","border-bottom":"1px solid #c8c8c8"});
			$(".send_btn_scroll").fadeIn("fast");
			$("#msg_content3")[0].focus();
		});

		$("#msg_content3").focus(function(){
			$("#scroll_comment").hide();
			$(this).prev("textarea").css({"height":"91px","border-bottom":"1px solid #c8c8c8"});
			$(".send_btn_scroll").fadeIn("fast");
		});
		
		$(".btn_cancel_scroll").click(function(){
			$("#msg_content3").val("");
			$("#scroll_comment").show();
			$("#msg_content3").css({"height":"33px","border-bottom":"1px solid #b5dbe8"});
			$(".send_btn_scroll").fadeOut("fast");
			
		});
	
		
	});
	function checkMsg(){
		var msg=$("#msg_content").val();
		msg=$.trim(msg);
		if(msg=="")
			return false;
		return true;
	}
	function checkMsg2(){
		var msg=$("#msg_content2").val();
		msg=$.trim(msg);
		if(msg=="")
			return false;
		return true;
	}
	function checkMsg3(){
		var msg=$.trim($("#msg_content3").val());
		if(msg=="")
			return false;
		return true;
	}
	function replyMsg(mid){
		if(mid>0){
			$("#msg_form").hide();
			$("#reply_msg").val(mid);
			var reply_u=$("#user_"+mid).html();
			$("#reply_u").html("回复“"+reply_u+"”：");
			var _reply=$("#user_"+mid).parent(".board_user").parent(".board_area").parent("li");
			var _left=_reply.offset().left; //左绝对距离 
			var _top=_reply.offset().top+_reply.outerHeight(); //上绝对距离,此处要加上div的高度 
			$(".reply_form").css({'position':'absolute','left':_left+'px','top':_top+'px'});
			$(".reply_form").show(); 
		}
	
	}
	function replyClose(){
		$(".reply_form").hide(); 
	}

	function delMsg(mid){
		if(mid>0){
			if(confirm("确定要删除此留言吗？")){
				jQuery.post("{&WWW}/MsgBoard/del_msg",{"id":mid},function(data){
					if(data.status==1){
						$("#msg_id_"+mid).remove();
					}else{
						alert("删除留言失败！");
					}
				},"json");
			}

		}
	}

	var top1=$("#a_file").offset().top;
	var top2=$("#a_print").offset().top-15;
	var top3=$("#a_chat").offset().top-15;
	var maxtop=$(".comment").offset().top-145;
	window.onscroll=function(){
		var stop1=document.body.scrollTop;
		var stop2=document.documentElement.scrollTop;
		var curStop=0;
		if(stop1>=stop2){
			curStop=stop1;
		}else{
			curStop=stop2;
		}
		
		if(curStop>top1&&curStop<=maxtop) {
			if(curStop<=top2){
				changeShareLeft(0);
			}else if(curStop>top2&&curStop<=top3){
				changeShareLeft(1);
			}else if(curStop>top3){
				changeShareLeft(2);
			}
			document.getElementById('fun_share_left').style.display="block";
			$("#fun_share_top").hide();
		}else{
			document.getElementById('fun_share_left').style.display="none";
			$("#fun_share_top").show();
		}
	}
	

	var surl="{{STATIC_URL}}";
	function changeShareLeft(curId){
		
		  $(".fun_share_left .fun_share").attr("style","");
		  $(".fun_share_left .fun_share").prev("span").attr("style","");
		  var cur=$(".fun_share_left .fun_share").get(curId);
		  $(cur).css({"color":"#000000"});
		  switch(curId){
		   case 0:$(cur).prev("span").css({"background":"url("+surl+"/images/fun_area.jpg) no-repeat scroll 0 -32px transparent"});break;
		   case 1:$(cur).prev("span").css({"background":"url("+surl+"/images/fun_area.jpg) no-repeat scroll -38px -32px transparent"});break;
		   case 2:$(cur).prev("span").css({"background":"url("+surl+"/images/fun_area.jpg) no-repeat scroll -76px -32px transparent"});break;
		   default:;
		  }
	}

</script>
{% endblock %}

{% block footer %} 

{% include "footer.html" %}

{% endblock %}