<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="局域网共享  windows共享 文件共享 阡陌软件" />
<meta name="description" content="局域网共享 windows共享 文件共享 阡陌软件" />
<link rel="stylesheet" href="{&STATIC}/Css/qianmo2.css" type="text/css" />
<script src="{&STATIC}/Js/jquery-1.4.2.min.js"></script>
<title>阡陌软件 - 首页</title>

</head>
<body>
<div class="header">
	<div class="header_in">
		<div class="logo"><span><img src="{&STATIC}/Img/qianmo_logo.jpg" /></span><span>&nbsp;&nbsp;文件共享领航者</span></div>
		<div class="menu">
			<a href="#">首页</a><a href="#">新手指南</a><a href="#">留言区</a><a href="#">充值</a><a href="#">免费下载</a>
		</div>
		<div class="lr">
			<a href="#">登录</a><a href="#">注册</a>
		</div>
	</div>
</div>
<div class="main">
	<div class="top_node">
		<div class="download_btn">
			<a href="#download">
			<img src="{&STATIC}/Img/download.gif" />
			</a>
		</div>
	</div>
	<div class="center_c">
		<div class="contact_us">
		<span class="weibo"></span><span class="weibo_addr">&nbsp;&nbsp;<a href="#">关注我们</a></span>
		<span class="email_us"></span><span class="email_addr">&nbsp;&nbsp;邮箱</span>
		<span class="qq"></span><span class="qq_addr">&nbsp;&nbsp;加QQ群</span>
		</div>
	</div>
	<div class="center_area">

		<div class="product">
		<ul>
			<li>
				<div class="p_title">简单</div>
				<div class="p_content">不必知道各类操作系统复杂的共享设置，阡陌一键解决。</div>
				<div class="p_img">
					<img src="{&STATIC}/Img/jiandan.jpg" />
				</div>
			</li>
			<li>
				<div class="p_title">私密安全</div>
				<div class="p_content">阡陌点对点的传输避免了服务器的中转，保证了文件的私密安全。</div>
				<div class="p_img">
					<img src="{&STATIC}/Img/anquan.jpg" />
				</div>
			</li>
			<li>
				<div class="p_title">快速</div>
				<div class="p_content">经测试，传输速度已超于QQ和飞鸽。</div>
				<div class="p_img">
					<img src="{&STATIC}/Img/kuaisu.jpg" />
				</div>
			</li>
			<li>
				<div class="p_title">欢迎参与我们</div>
				<div class="p_content">我们每一天都在倾听顾客的声音，也许你的反馈在下个版本就能实现。</div>
				<div class="p_img">
					<img src="{&STATIC}/Img/about_us.jpg" />
				</div>
			</li>
		</ul>
		</div>
		
		<div class="msg_board">
			<div class="msg_tab">留言区</div>
			<div class="msg_content">
				<ul>
					<li class="msg_send">
						<table>
							<tr>
								<td class="avatar_td"><div class="board_img"><img src="" /></div></td>
								<td class="content_td">
									<div class="send_box_left"></div>
									<div class="send_box">
									<textarea></textarea>
									</div>
									<div class="clear_both"></div>
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><input type="submit" class="send_btn" name="" value="" /></td>
							</tr>
						</table>
					</li>
					<li class="user_msg">
						<table>
							<tr>
								<td class="avatar_td"><div class="board_img"><img src="" /></div></td>
								<td class="content_td">
									的到时颠三倒四
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td>&nbsp;</td>
							</tr>
						</table>
					</li>
					<li class="user_msg">
						<table>
							<tr>
								<td class="avatar_td"><div class="board_img"><img src="" /></div></td>
								<td class="content_td">
								sdsdls就大开杀戒的可所
								</td>
							</tr>
							<tr>
								<td>&nbsp;</td>
								<td><a href="#" class="more_msg"></a></td>
							</tr>
						</table>
					</li>
				</ul>
			</div>
		</div>
		<div class="new_guide">
			<div class="guide_tab">新手指导</div>
			<div class="guide_content">
			<table>
				<tr>
					<td class="guide_l">
					<div></div>
					</td>
					<td class="guide_r">
					如何下载安装指南，圣诞节离散对数德累斯顿临时的
					</td>
				</tr>
				<tr>
					<td class="guide_l">
					<div></div>
					</td>
					<td class="guide_r">
					如何下载安装指南，圣诞节离散对数德累斯顿临时的
					</td>
				</tr>
				<tr>
					<td class="guide_l">
					<div></div>
					</td>
					<td class="guide_r">
					如何下载安装指南，圣诞节离散对数德累斯顿临时的
					</td>
				</tr>
				<tr>
					<td class="guide_l">
					<div></div>
					</td>
					<td class="guide_r">
					如何下载安装指南，圣诞节离散对数德累斯顿临时的
					</td>
				</tr>
				<tr>
					<td class="guide_l">
					<div></div>
					</td>
					<td class="guide_r">
					如何下载安装指南，圣诞节离散对数德累斯顿临时的
					</td>
				</tr>
			</table>
			<a href="#" class="more_guide"></a>
			</div>
		</div>
		
	</div>
</div>
<!-- <div class="footer">
	<div class="footer_in"></div>
</div>
</body>
</html> -->
{% include "index_3.html" %}
