{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block header %}{% include "header.html" %}{% endblock %}

{% block content %}
{% load split %}
<div class="main ">
	<div class="comment_in w1000">
		<div style="height:50px;">
			
		</div>
		<div class="send_content">
		<form  action="{% url 'add_msg'%}" method="post" onsubmit="return checkMsg();">
			{% csrf_token %}
			<textarea id="msg_content" name="msg"></textarea>
			<div class="comment_small_bg" id="top_comment"></div>
			<div class="clear"></div>
			<div class="send_btn send_btn_top">
				<input type="hidden" id='form1' name="send_from" value="1" />
				<input type="submit" name value="" class="btn_send"/>
				<input type="button" name value="" class="btn_cancel btn_cancel_top"/>
			</div>
		</form>
		
		</div>
<div class="list_comment" style="margin-left:175px;">
	<ul class="msg_board">
		{% if msg_list %}
			{% if user.is_superuser %}
				{% for msg in msg_list %}
			<li id="msg_id_{{ msg.id }}">
				<div class="board_left">
					<div class="board_img">
						{% if msg.user_id in user_list.keys %}
							{% for user in user_list.values %}
								{% if msg.user_id == user.uuid %}
									<img src="{{ MEDIA_URL }}{{ user.folder }}/snap_50X50_{{ user.uid }}.{{ user.ext }}" />
								{% endif %}
							{% endfor %}		
						{% else %}
							<img src="{{ STATIC_URL }}images/snap_50X50_default_head.jpg" />
						{% endif %}
					</div>
				</div>
				<div class="board_area">
					<div class="board_user">
						<span class="board_uname" id="user_{{ msg.id }}">
						{% if msg.user_id and msg.user_id  != '0'  %}
							{{ msg.user_nick }}
						{% else %}
							  {{ msg.ip|split:"."|slice:"2"|join:"."|add:".*.*"}}
						{% endif %}
						</span>
					<span class="board_time">{{ msg.create_time|date:"Y-m-d H:i:s" }}</span>
					<span class="board_reply">
						<span class="reply_small"><a href="javascript:replyMsg({{ msg.id }});"></a></span>
						<span> | <a href="javascript:delMsg({{ msg.id }});">删除</a></span>
					</span>
					</div>
					<div class="board_right">
						<div class="board_content"><div class="board_body">{{ msg.msg }}</div></div>
					<div class="reply_area">
						{% for reply in reply_list.values %}
							{% if  reply.reply_id == msg.id %}
								<div class="board_body dashed_border">答：{{ reply.msg }}</div>
							{% endif %}			
						{% endfor %}
					</div></div>
				</div>
				<div class="clear"></div>
			</li>
				{% endfor %}
			{% elif user.is_authenticated %}
				{% for msg in msg_list %}
			<li>
				<div class="board_left">
					<div class="board_img">
						{% if msg.user_id in user_list.keys %}
							{% for user in user_list.values %}
								{% if msg.user_id == user.uuid %}
									<img src="{{ MEDIA_URL }}{{ user.folder }}/snap_50X50_{{ user.uid }}.{{ user.ext }}" />
								{% endif %}
							{% endfor %}		
						{% else %}
							<img src="{{ STATIC_URL }}images/snap_50X50_default_head.jpg" />
						{% endif %}
					</div>
				</div>
	
				<div class="board_area">
					<div class="board_user">
					<span class="board_uname" id="user_{{ msg.id }}">
						{% if msg.user_id and msg.user_id  != '0'  %}
							{{ msg.user_nick }}
						{% else %}
						  {{ msg.ip|split:"."|slice:"2"|join:"."|add:".*.*"}}
						{% endif %}
					</span>
						 <span class="board_time">{{ msg.create_time|date:"Y-m-d H:i:s" }}</span>
						 <span class="board_reply"><span class="reply_small"><a href="javascript:replyMsg({{ msg.id }});"></a></span></span></div>
					<div class="board_right">
						<div class="board_content">
							<div class="board_body">
							{{ msg.msg }}
							</div>
						</div>
						<div class="reply_area">
							{% for reply in reply_list.values %}
								{% if  reply.reply_id == msg.id %}					
									<div class="board_body dashed_border">
										答：{{ reply.msg }}
									</div>
								{% endif %}			
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</li>
			{% endfor %}
			{% else %}
			{% for msg in msg_list %}
			<li>
				<div class="board_left">
					<div class="board_img">
						{% if msg.user_id in user_list.keys %}
							{% for user in user_list.values %}
								{% if msg.user_id == user.uuid %}
									<img src="{{ MEDIA_URL }}{{ user.folder }}/snap_50X50_{{ user.uid }}.{{ user.ext }}" />
								{% endif %}
							{% endfor %}		
						{% else %}
							<img src="{{ STATIC_URL }}images/snap_50X50_default_head.jpg" />
						{% endif %}
					</div>
				</div>
			
				<div class="board_area">
					<div class="board_user">
						<span class="board_uname" id="user_{{ msg.id }}">
						{% if msg.user_id and msg.user_id  != '0'  %}
							{{ msg.user_nick }}
						{% else %}
							{{ msg.ip|split:"."|slice:"2"|join:"."|add:".*.*"}}
						{% endif %}
						</span><span class="board_time">{{ msg.create_time|date:"Y-m-d H:i:s" }}</span><span class="board_reply"><span class="reply_small"><a href="javascript:replyMsg({{ msg.id }});"></a></span></span>
					</div>
					<div class="board_right">	
						<div class="board_content">
							<div class="board_body">
							{{ msg.msg }}
							</div>
						</div>
						<div class="reply_area">
							{% for reply in reply_list.values %}
							{% if  reply.reply_id == msg.id %}					
							<div class="board_body dashed_border">
							答：{{ reply.msg }}
							</div>
							{% endif %}			
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</li>
		{% endfor %}
	</ul>
</div>
		{% endif %}	
	{% endif %}	

	<div id="msg_form" class="send_reply">
	<form  action="{% url 'add_msg' %}" method="post" onsubmit="return checkMsg3();">
		{% csrf_token %}
		<textarea id="msg_content3" name="msg"></textarea>
		<div class="comment_small_bg" id="scroll_comment"></div>
		<div class="clear"></div>
		<div class="send_btn send_btn_scroll">
			<input type="hidden" id="form3" name="send_from" value="1" />
			<input type="submit" name value="" class="btn_send"/>
			<input type="button" name value="" class="btn_cancel btn_cancel_scroll"/>
		</div>
	</form>
	</div>			
	</div>
	<div class="clear"></div>
</div>
	
	<div class="reply_form" style="display:none;">
	<div class="send_board">
	<span class="send_u" id="reply_u"> 回复“阡陌游客”：</span>
	</div>
	<div class="send_content2 send_bg" >
	<form  action="{% url 'add_msg' %}" method="post" onsubmit="return checkMsg2();">
		{% csrf_token %}
		<textarea name="msg" id="msg_content2"></textarea>
		<div class="reply_btn">
		<input type="hidden" id="form2" name="send_from" value="1" />
		<input id="reply_msg" type="hidden" name="reply" value="" />
		<input type="submit" value="" class="send_button"/>
		<input type="button" name="" onclick="javascript:replyClose();" class="reply_close"/>
		</div>
	</form>
	</div>
	</div>
<script>
	$(function(){
		$(".menu_board").css({"color":"#000000"});
	});
	$("#top_comment").click(function(){
		$(this).hide();
		$("#msg_content").css({"height":"91px","border-bottom":"1px solid #c8c8c8"});
		$(".send_btn_top").fadeIn("fast");
		$("#msg_content")[0].focus();
	});
	
	$("#msg_content").focus(function(){
		$("#top_comment").hide();
		$(this).prev("textarea").css({"height":"91px","border-bottom":"1px solid #c8c8c8"});
		$(".send_btn_top").fadeIn("fast");
	});
	
	$(".btn_cancel_top").click(function(){
		$("#msg_content").val("");
		$("#top_comment").show();
		$("#msg_content").css({"height":"33px","border-bottom":"1px solid #b5dbe8"});
		$(".send_btn_top").fadeOut("fast");
		
	});
	
	$("#scroll_comment").click(function(){
		$(this).hide();
		$("#msg_content3").css({"height":"91px","border-bottom":"1px solid #c8c8c8"});
		$(".send_btn_scroll").fadeIn("fast");
		$("#msg_content3")[0].focus();
	});
	
	$("#msg_content3").focus(function(){
		$("#scroll_comment").hide();
		$(this).prev("textarea").css({"height":"91px","border-bottom":"1px solid #c8c8c8"});
		$(".send_btn_scroll").fadeIn("fast");
	});
	
	$(".btn_cancel_scroll").click(function(){
		$("#msg_content3").val("");
		$("#scroll_comment").show();
		$("#msg_content3").css({"height":"33px","border-bottom":"1px solid #b5dbe8"});
		$(".send_btn_scroll").fadeOut("fast");
		
	});

	function checkMsg(){
		var msg=$("#msg_content").val();
		msg=$.trim(msg);
		$.ajax({	type:"post",	url: "{% url 'check_msg' %}",async:false,dataType:"json",
			success:function(data){document.getElementById('form1').value =data.id;}});
		if(msg=="")
			return false;
		return true;
	}

	function checkMsg2(){
		var msg=$("#msg_content2").val();
		msg=$.trim(msg);
		$.ajax({	type:"post",	url: "{% url 'check_msg' %}",async:false,dataType:"json",
			success:function(data){document.getElementById('form2').value =data.id;}});
		if(msg=="")
			return false;
		return true;
	}

	function checkMsg3(){
		var msg=$.trim($("#msg_content3").val());
		if(msg=="")
		$.ajax({	type:"post",	url: "{% url 'check_msg' %}",async:false,dataType:"json",
			success:function(data){document.getElementById('form3').value =data.id;}});
			return false;
		return true;
	}
	function replyMsg(mid){
		if(mid>0){
			$("#msg_form").hide();
			$("#reply_msg").val(mid);
			var reply_u=$("#user_"+mid).html();
			$("#reply_u").html("回复“"+reply_u+"”：");
			var _reply=$("#user_"+mid).parent(".board_user").parent(".board_area").parent("li");
			var _left=_reply.offset().left; //左绝对距离 
			var _top=_reply.offset().top+_reply.outerHeight(); //上绝对距离,此处要加上div的高度 
			$(".reply_form").css({'position':'absolute','left':_left+'px','top':_top+'px'});
			$(".reply_form").show(); 
		}
	
	}
	function replyClose(){
		$(".reply_form").hide(); 
	}

	function delMsg(mid){
		if(mid>0){
			if(confirm("确定要删除此留言吗？")){
				$.post("{% url 'del_msg' %}",{"id":mid},function(data){
					if(data.status==1){
						$("#msg_id_"+mid).remove();
					}else{
						alert("删除留言失败！");
					}
				},"json");
			}

		}
	}
	window.onscroll=function(){
		if(document.getElementById('msg_form')!=null){
		if(document.body.scrollTop>180 ||document.documentElement.scrollTop>180) {
		document.getElementById('msg_form').style.display="block";
		}else{
		document.getElementById('msg_form').style.display="none";
		}
		}
		} 
</script>


{% endblock %}

{% block footer %}{% include "footer.html" %}{% endblock %}
