{% extends "user/base.html" %}
{% block content %}
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="{% url 'accounts_index' %}">首页</a>
				<span class="divider">
					<i class="icon-angle-right arrow-icon"></i>
				</span>
			</li>
			<li>
				<a href="{% url 'group_group_list' %}">群</a>
				<span class="divider">
					<i class="icon-angle-right arrow-icon"></i>
				</span>
			</li>
			<li class="active">群用户</li>
		</ul>
	</div>
	{% if error %}
	<div class="page-content">
	{{error}}
	</div>
	{% else %}
	<div class="page-content">
		<div class="page-header position-relative">
			<h1 class="pull-left">邀请群用户<small><i class="icon-double-angle-right"></i></small></h1>
			<div class="form-horizontal">
				<div class="control-group" style="margin-bottom:0;padding-top:5px;">
					<div class="controls">
						<span class="gu_add_user">
							<span class="input-icon input-icon-right" style="margin-top:5px;">
							<input type="text" placeholder="邮箱" class="span3" style="padding-right:24px;" name="gu_email" value="" />
							<i></i>
							</span>
							<span class="help-inline red"></span>
						</span>
						<!--
						&nbsp;&nbsp;<input type="text" placeholder="备注名" id="form-field-1" name="gu_remark" value="" />
						-->
						<span class="gu_email_clone" style="display:none;">
							<span class="input-icon input-icon-right" style="margin-top:5px;">
							<input type="text" placeholder="邮箱" class="span3" name="gu_email" value="" />
							<i class="icon-remove-sign gu_email_remove" style="cursor:pointer;" title="删除"></i>
							</span>
							<span class="help-inline red"></span>
						</span>
						<br />
						<span class="gu_add_user" >
							<span class="input-icon input-icon-right" style="margin-top:5px;">
							<input type="text" placeholder="邮箱" class="span3" name="gu_email" value="" />
							<i class="icon-remove-sign gu_email_remove" style="cursor:pointer;" title="删除"></i>
							</span>
							<span class="help-inline red"></span>
						</span>
						<button type="button" id="add_user" class="btn btn-info btn-small" style="margin-left:5px;">
							<i class="icon-ok bigger-110"></i>
							确定
						</button>
					</div>
				</div>
			</div>	
		</div><!--/.page-header-->
		<div class="row-fluid">
			<div class="span12">
			<!--PAGE CONTENT BEGINS-->
				<div class="row-fluid"> 
					<div class="span6 widget-container-span ui-sortable" style="width:100%">
						<div class="widget-box">
							<ul id="myTab" class="nav nav-tabs">
								<li class="">
									<a href="{% url 'group_group_user' %}?gid={{group.id}}"  style="padding-left:20px;padding-right:20px;">
										已邀请
									</a>
								</li>

								<li>
									<a href="{% url 'group_group_user' %}?gid={{group.id}}&flag=out"  style="padding-left:20px;padding-right:20px;">
										邀请中
									</a>
								</li>
							</ul>
							{% if flag == "in" %}
							{% include "group/group_user_in.html" %}
							{% else %}
							{% include "group/group_user_invite.html" %}
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
<script>
var gid={{group.id}}
var flag="{{flag}}"
var email_eg = /^[\w\-\.]+@[\w\-\.]+(\.\w+)+$/;
if(flag=="in"){
	$("#myTab li").eq(0).addClass("active");
}else{
	$("#myTab li").eq(1).addClass("active");
}
$("#add_user").click(function(){
	var uemails="";
	var eobjs=$(".gu_add_user input[name=gu_email]");
	var len=eobjs.length;
	var uemail="";
	var submit=true;
	for (var i=0;i<len;i++){
		uemail=$.trim(eobjs.eq(i).val());
		if(uemail!=""){
			uemails+=","+uemail;
			if(!email_eg.test(uemail)){
				eobjs.eq(i).parent().next('span').text('请填写有效的邮箱！');
				submit=false;
			}
		}
	}
	if(uemails==""){
		alert("请至少填写一个邮箱！");
		return;
	}
	if(!submit)
		return;
	uemails=uemails.substr(1);
	$.post("{% url 'group_guser_add' %}",{"gid":gid,"emails":uemails},function(data){
		if(data.status){
			if (flag=="in"){
				window.location.href="{% url 'group_group_user' %}?flag=out&gid="+gid;
			}else{
				if(data.num>0){
					var users=data.users;
					for(var i=0;i<users.length;i++){
						var userTr=$("#user_clone").clone(true);
						userTr.attr("id","");
						userTr.show();
						userTr.children("td").eq(0).text(users[i].email);
						userTr.children("td").eq(1).text(users[i].time);
						$("#user_clone").after(userTr);
					}
					$("input[name=gu_email]").val("");
				}else{
					alert("已在邀请列表中！")
				}
			}

		}else{
			alert(data.info)
		}
	},"json");
});

$("input[name=gu_email]").focus(function(){
	var len=$("input[name=gu_email]").length;
	var cur=$("input[name=gu_email]").index($(this));
	if(len==(cur+1)){
		var emailInput=$(".gu_email_clone").clone(true);
		emailInput.removeClass("gu_email_clone");
		emailInput.addClass("gu_add_user");
		emailInput.children("span").children("input").val("");
		emailInput.css({"display":"inline-block"});
		$("#add_user").before("<br />");
		$("#add_user").before(emailInput);
	}
});

$(".gu_add_user input[name=gu_email]").blur(function(){
	var uemail=$.trim($(this).val());
	if(uemail==""){
		$(this).parent().next("span").text("");
	}else if(!email_eg.test(uemail)){
		$(this).parent().next("span").text("请填写有效的邮箱！");
	}else{
		$(this).parent().next("span").text("");
	}
});

$(".gu_email_remove").click(function(){
	$(this).parent("span").prev("br").remove();
	$(this).parent("span").remove();
});


</script>
{% endblock %}