{% extends "user/base.html" %}
{% block content %}
{% load pagination_tags %}
{% autopaginate guList 2 %}
{% load my_filter %}
<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="{% url 'accounts_index' %}">首页</a>
				<span class="divider">
					<i class="icon-angle-right arrow-icon"></i>
				</span>
			</li>
			<li>
				<a href="{% url 'group_group_list' %}">群</a>
				<span class="divider">
					<i class="icon-angle-right arrow-icon"></i>
				</span>
			</li>
			<li class="active">群用户</li>
		</ul>
	</div>
	{% if error %}
	<div class="page-content">
	{{error}}
	</div>
	{% else %}
	<div class="page-content">
		<div class="page-header position-relative">
			<h1 class="pull-left">新增群用户<small><i class="icon-double-angle-right"></i></small></h1>
			<div class="form-horizontal">
				<div class="control-group" style="margin-bottom:0;padding-top:5px;">
					<label for="form-field-1" class="control-label" style="width:50px;">邮箱：</label>
					<div class="controls">
						<input type="text" placeholder="邮箱" id="form-field-1" name="gu_email" value="" />
						<button type="button" id="add_user" class="btn btn-info btn-small">
							<i class="icon-ok bigger-110"></i>
							确定
						</button>
					</div>
				</div>
			</div>	
		</div><!--/.page-header-->
		<div class="row-fluid">
			<div class="span12">
			<!--PAGE CONTENT BEGINS-->
				<div class="row-fluid"> 
					<div class="span6 widget-container-span ui-sortable" style="width:100%">
						<div class="widget-box">
							<div class="widget-header header-color-blue">
								<h5 class="bigger lighter">
									<i class="icon-table"></i>
									群用户
								</h5>

								<div class="widget-toolbar widget-toolbar-light no-border">
							
								</div>
							</div>

							<div class="widget-body">
								<div class="widget-main no-padding">
									<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th>
													<i class="icon-user"></i>
													昵称
												</th>

												<th>
													<i>@</i>
													邮箱
												</th>
												<th>
													<i class="icon-credit-card"></i>
													备注名
												</th>
												<th class="span3">
													<i class="icon-print"></i>
													打印机共享到群
												</th>
												<th class="hidden-480">&nbsp;</th>
											</tr>
										</thead>

										<tbody>
											<tr id="user_clone" style="display:none;">
												<td class=""></td>
												<td></td>
												<td></td>
												<td>
													<label>
													<input type="checkbox" class="ace-switch ace-switch-5" name="p_share">
													<span class="lbl"></span>
													</label>
												</td>
												<td class="hidden-480">
													<button class="btn btn-mini btn-danger del_user">
														<i class="icon-trash bigger-120"></i>
														删除
													</button>
												</td>
											</tr>
											{% if guList %}
											{% for gu in guList %}
	
											<tr>
												<td class="">{{userMap|getDict:gu.user_id|getDict:'email'}}</td>

												<td>
													{{userMap|getDict:gu.user_id|getDict:'nick'}}
												</td>
												<td>
													{% if gu.user_remark %}
													{{gu.user_remark}}
													{% else %}
													--	
													{% endif %}
												</td>
												<td>
													<label>
													{% if gu.share_print == 1 %}	
													<input type="checkbox" class="ace-switch ace-switch-5" name="p_share" checked>
													{% else %}
													<input type="checkbox" class="ace-switch ace-switch-5" name="p_share">
													{% endif %}
													<span class="lbl"></span>
													</label>
												</td>
												<td class="hidden-480">
													<button class="btn btn-mini btn-danger del_user">
														<i class="icon-trash bigger-120"></i>
														删除
													</button>
												</td>
											</tr>
											
											{% endfor %}
											{% endif %}
										</tbody>
									</table>
								</div>
							</div>
							<div style="text-align:center;">{% paginate %}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
</div>
<script>
var gid={{group.id}}
$("#add_user").click(function(){
	var uemail=$.trim($("input[name=gu_email]").val());
	if(uemail==""){
		alert("请填写用户邮箱！");
		return false;
	}
	$.post("{% url 'group_guser_add' %}",{"gid":gid,"email":uemail},function(data){
		if(data.status){
			var userTr=$("#user_clone").clone(true);
			userTr.attr("id","");
			userTr.show();
			userTr.children("td").eq(0).text(data.nick);
			userTr.children("td").eq(1).text(data.email);
			userTr.children("td").eq(2).text(data.remark);
			$("#user_clone").after(userTr);
		}else{
			alert(data.info)
		}
	},"json");
});
$(".del_user").click(function(){
	var email=$(this).parent("td").parent("tr").children("td").eq(0).html();
	var delTr=$(this).parent("td").parent("tr");
	if (confirm("确定删除群用户："+email+" 吗？")){
		$.post("{% url 'group_guser_del' %}",{"gid":gid,"email":email},function(data){
			if(data.status){
				alert("删除成功！");
				delTr.remove();
			}else{
				alert(data.info);
			}
		},"json");
	}
	return false;
});
$("input[name=p_share]").click(function(){
	var email=$(this).parent().parent("td").parent("tr").children("td").eq(0).html();
	var checked=$(this).is(":checked");
	var obj=$(this);
	$.post("{% url 'group_print_share' %}",{"gid":gid,"email":email},function(data){
		if(data.status){	
			return true;
		}else{
			alert(data.info);
		}
	},"json");
	//return false;
});
</script>
{% endblock %}