{% extends "layout_base.html" %}
{% block style %}

{% endblock %}

{% block content %}

<div style="margin: 20px;" >
	<div class="help_image" style="background-image: url({{STATIC_URL}}images/client_help/help7.png)">
			<a href="/client/help/fileshare/friend/" class="btn-link btn" style=" margin-top:115px; margin-left:560px; padding:10px 60px;"></a>
		

		<a href="/client/help/trans/upload/"><button class="btn btn-large btn-primary" style="width:400px; margin-top:270px; margin-left:400px;">下一步 上传文件到好友的共享文件夹中</button></a>
	</div>

</div>


{% endblock %}