{% extends "layout_base.html" %}
{% block style %}

{% endblock %}

{% block content %}

<div style="margin: 20px;" >
	<div class="help_image" style="background-image: url({{STATIC_URL}}images/client_help/help8.png)">
			<a href="/client/help/fileshare/friend/" class="btn-link btn" style=" margin-top:115px; margin-left:560px; padding:10px 60px;"></a>
		

		<a href="/client/friend/feed/"><button class="btn btn-large btn-primary" style="width:200px; margin-top:270px; margin-left:300px;">试试上传文件吧</button></a>
	</div>

</div>


{% endblock %}