{% extends "layout_base.html" %}
{% block style %}

{% endblock %}

{% block content %}

<div style="margin: 20px;" class="text-center">
	<div class="help_image" style="background-image: url({{STATIC_URL}}images/client_help/help6.png)">
		<a href="/client/friend/feed/"><button class="btn btn-large btn-primary" style="width:260px; margin-top:410px; margin-left:50px;">试试浏览好友的共享文件</button></a>

		<a href="/client/file/index/"><button class="btn btn-large btn-primary" style="width:260px; margin-top:410px; margin-left:100px;">试试共享自己的文件夹</button></a>
	</div>

</div>


{% endblock %}