<html>
<head>
	<title>help nav</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" media=screen>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css">
  <style type='text/css'>
.sidebar-nav {
    padding: 9px 0;
}

.row-fluid > .sidebar-nav {
    position: relative;
    top: 0;
    left:auto;
    width: 320px;
}
.right {
    float:right;
}

.fixed-fixed {
    margin: 0 340px 0 0;
}

.media-heading {
  margin: 0;
}

.font12{
	font-size: 12px;
}

.well{
	padding-left:5px;
}

.table th, .table td { 
     border-top: none; 
     text-align: center;
     //border: solid 1px;
 }
 .table td a:hover {
 	text-decoration:none;
 }

 .help_nav .btn{
 	padding:0;
 }

  </style>


</head>
<body>

<div style="width:340px; margin:10px auto;">
	<h3 class="text-center">教你怎么使用Simplenect</h3>

	<div style="padding-left:40px;">点击图标，马上开始学习：</div>

	<table class="help_nav table nav" >
		<tbody>
			<tr>
				<td width="33%">
					<a href="/client/help/index/" class="btn btn-link"><i class="icon-home icon-3x"></i><br>1. 开始</a>
				</td>
				<td width="33%">
					<a href="/client/help/addfriends/" class="btn btn-link"><i class="icon-group icon-3x"></i><br>2. 邀请好友</a>
				</td>
				<td width="34%">
					<a href="/client/help/chat/" class="btn btn-link"><i class="icon-comments icon-3x"></i><br>3. 聊天</a>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/client/help/fileshare/" class="btn btn-link"><i class="icon-share icon-3x"></i><br>4. 文件共享</a>
				</td>
				<td>
					<a href="/client/help/trans/" class="btn btn-link"><i class="icon-exchange icon-3x"></i><br>5. 文件传输</a>
				</td>
				<td>
					<a href="/client/help/print/" class="btn btn-link"><i class="icon-print icon-3x"></i><br>6. 打印</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>






<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>


</body>
</html>