{% extends "layout_base.html" %}
{% block style %}

{% endblock %}

{% block content %}

<div style="margin: 20px;">

	<div class="well">
		<h4>我的打印机</h4>

		<button class="pull-right btn btn-large btn-primary">共享</button>

		<div class="media">
			<i class="icon-print icon-3x pull-left"></i>
			<div class="media-body">
				<h5 class="media-heading">
					\\192.168.18.97\FX DocuPrint Cp105 b
				</h5>
				<div class="muted font12">
				未共享
				</div>
			</div>
		</div>
	</div>

	<h4>好友的打印机</h4>
	

</div>


{% endblock %}