{% extends "layout_base.html" %}
{% block style %}
<style type="text/css">
	.trans-record td{
		font-size: 12px;
		font-weight: normal;
	}
</style>
{% endblock %}

{% block content %}


<div style="margin:0 20px;">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#">传输中</a>
		</li>
		<li>
			<a href="#">已发送</a>
		</li>
		<li>
			<a href="#">已接收</a>
		</li>
	</ul>



	<table class="table table-hover trans-record">
		<thead>
			<tr>
				<th>文件名</th>
				<th>接收类型</th>
				<th>完成时间</th>
				<th>来自</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>
					<div class="media">
						<a href="#">
							<i class="icon-film icon-large pull-left"></i>
						</a>
						<div class="media-body">
							<h5 class="media-heading">
								<a href="#">我的电影adfsaf.wmv</a>
							</h5>
							<div class="muted font12">
							3M
							</div>
						</div>
					</div>
				</td>
				<td>主动下载</td>
				<td>2013/05/29 15:06:05</td>
				<td>曹磊</td>
			</tr>
			<tr>
				<td>
					<div class="media">
						<a href="#">
							<i class="icon-film icon-large pull-left"></i>
						</a>
						<div class="media-body">
							<h5 class="media-heading">
								<a href="#">我的电影adfsaf.wmv</a>
							</h5>
							<div class="muted font12">
							3M
							</div>
						</div>
					</div>
				</td>
				<td>主动下载</td>
				<td>2013/05/29 15:06:05</td>
				<td>曹磊</td>
			</tr>
		</tbody>
		
	</table>
</div>

{% endblock %}