<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="局域网共享 跨网段共享  windows共享 文件共享 打印共享 阡陌软件" />
<meta name="keywords" content="局域网共享 跨网段共享  windows共享 文件共享 打印共享 阡陌软件" />
{% if DEBUG %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="{{STATIC_URL}}font-awesome/css/font-awesome.css" type="text/css" />
	<!--[if IE 7]>
	<link rel="stylesheet" href="{{STATIC_URL}}font-awesome/css/font-awesome-ie7.css" type="text/css" />
	<![endif]-->
{% else %}
	<link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css" type="text/css" />
	<!--[if IE 7]>
	<link rel="stylesheet" href="{{STATIC_URL}}font-awesome/css/font-awesome-ie7.min.css" type="text/css" />
	<![endif]-->
{% endif %}
<script src="{{STATIC_URL}}js/lib/bootstrap.min.js"></script>
<style type="text/css">
.container-narrow {
  margin: 0 auto;
  max-width: 960px;
  }
  body {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color:#E5E8ED;
  font-family: "Microsoft YaHei","Frutiger", "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif !important; 
  font-size: 14px;
  font-weight:normal;
}
</style>
</head>
<body>
	<center>
<div class="container-narrow">
	<div class="row" style="margin-top:100px;">
		<div class="span2"></div>
		<div class="span8">
			<div class="hero-unit" style="background-color:#FDFDFD;padding:40px;">
				<div class="row">
					<div class="span2 text-left">
						<img src="{{STATIC_URL}}images/alipay/success.jpg" />
					</div>
					<div class="span5 text-left" style="margin-top:20px">
						<p>恭喜你付款成功：<br/>
						订单号：{{order_id}} <br/>
						你的打印帐号：<span style="color:red;font-size:16px">{{user.email}} </span>将在十分钟之内激活！</p>
						<a href="{% url 'accounts_index' %}">点击链接跳转到，个人中心</a> 
					</div>
				</div>
			</div>
			<div class="text-center">温馨提示：如有疑问，请加入我们的QQ群：205528924</div>
		</div>
		<div class="span2"></div>
	</div>
</div>
<center>
</body>
</html>


