{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block content %}
<div class="center_area" >
<div class="login_top_title">忘记密码？</div>
<div class="center_register">
	<div class="register_area">
	{% if step == 1 %}
		<form method="post" action="{% url 'findPwd' %}">
			{% csrf_token %}
		<table class="register">
		<tr>
			<td class="register_left reg_name" >忘记密码？</td>
			<td class="reg_input">&nbsp;</td>
			<td class="reg_msg_email">&nbsp;</td>
		</tr>
		<tr>
			<td class="register_left" >邮箱地址&nbsp;&nbsp;</td>
			<td class="reg_input">
				{% if email %}
				<input type="text" value="{{ email }}" name="email" class="input-len"/>
				{% else %}
				<input type="text" value="" name="email" class="input-len"/>
				{% endif %}
			</td>
			<td class="reg_msg_email">&nbsp;</td>
		</tr>
			{% if code == 0 %}
			<tr>
				<td class="register_left" ></td>
				<td class="reg_input"><font color="red">注册邮箱地址不存在：{{ email }}</font></td>
				<td class="reg_msg_email">&nbsp;</td>
			</tr>
			{% endif %}
			{% if code == 2 %}
			<tr>
				<td class="register_left" ></td>
				<td class="reg_input"><font color="red">邮件发送失败！</font></td>
				<td class="reg_msg_email">&nbsp;</td>
			</tr>
			{% endif %}
			<tr>
				<td class="register_left" ></td>
				<td class="reg_input" style="font-size:14px;color:#696969;">请填写你的注册邮箱，系统会通过邮箱帮您找回密码</td>
				<td class="reg_msg_email">&nbsp;</td>
			</tr>
			<tr>
				<td class="register_left" ></td>
				<td class="reg_input"></td>
				<td class="reg_msg_email">&nbsp;</td>
			</tr>
			<tr>
				<td class="register_left" ></td>
				<td class=""><input class="findpwd_btn" type="submit" value="" name=""></td>
				<td class="reg_msg_email">&nbsp;</td>
			</tr>
		</table>
		</form>
		{% endif %}
		{% if step == 2 %}
		<table class="register">
			<tr>
				<td class="register_left reg_name" >忘记密码？</td>
				<td class="reg_input">&nbsp;</td>
				<td class="reg_msg_email">&nbsp;</td>
			</tr>
			<tr>
				<td class="register_left" ></td>
				<td class="reg_input">请登录您的邮箱，点击链接重置密码。</td>
				<td class="reg_msg_email">&nbsp;</td>
			</tr>
		</table>
		{% endif %}
		{% if step %}
		{% endif %}


	</div>
</div>
</div>
{% endblock %}

{% block footer %}{% include "footer.html" %}{% endblock %}