<style type="text/css">
.nav a{ font-size: 16px;color: #838383}
.nav a:link{color: #000000}
.nav a:focus {color: #000000}
.nav a:visited{color: #000000}
.nav a:hover{color: #000000}

</style>
<div class="container-narrow" style="height:100px">


				<ul class="nav nav-pills pull-left">
					<li><a title="首页" href="{% url 'index' %}" >
						<i class="icon-simplenect icon-4x" style="color:#333"></i>
						</a></li>
					<li class="disable" style="padding-top:35px;"><a title="首页" href="{% url 'index' %}" >
							<span style="font-size:20px; color:#333">SimpleNect</span>
						</a></li>
				</ul>


			<div>
				<ul class="nav nav-pills pull-left" style="color: #000000;margin-top: 35px;margin-left: 90px;">
					<li class="disable"><a href="{% url 'index' %}">首页</a></li>
					<li class="disable"><a href="{% url 'msg_index' %}">留言区</a></li>
					<li class="disable"><a href="{% url 'show' %}">新手指南</a></li>
					<li class="disable"><a href="{% url 'buy' %}">购买</a></li>
				</ul>
			</div>
			<div>
			<ul class="nav nav-pills pull-right" style="color: #000000;margin-top: 35px;margin-right: 90px;">
			{% if user.is_authenticated %}
				<li class="divider" ><a href="{%url 'info'%}" style="text-decoration: underline;" title="个人中心">{{ user.nick }}</a>
				</li>
			{% if user.status == 0 %}
				<li class="divider"><a href="{% url 'to_active' %}">激活账号</a>
			{% endif %}
			{%if user.is_superuser %}
				<li class="disable"><a href="{% url 'tongji' %}" style="text-decoration: underline;">管理中心</a></li>
			{% endif %}
		 		<li class="divider`"><a href="{% url 'logout'%}">退出</a></li>
		{% else %}
			<li class="divider"><a href="{% url 'login' %}">登录</a></li>
			<li class="divider"><a href="{% url 'register'%}">注册</a></li>
		{% endif %}
			</ul>
			</div>
	</div>
</div>
<div class="returnTop" title="上去了哦！">
	<span class="s"></span>
	<span class="b"></span> 返回顶部
</div>
<div class="clearfix"></div>

