{% extends "base.html" %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block content %}
{% load split %}


<link href="{{ STATIC_URL }}css/videojs.css" rel="stylesheet">
<div class="main index_banner">
	<div class="main_in">
		<div class="top_node" id="intro">
			<div class="download_area">
				<span> <a href="{{DOWNLOAD}}/Install/{{ins_file}}" target="_blank" title="下载">
					<img src="{{ STATIC_URL }}images/download.png" class="mypng" />
					<!--
					<img src="{{ STATIC_URL }}images/download_btn3.png" class="mypng" />
				-->
				</a>
				</span>
			</div>
			<div class="video-wrapper" title="点击播放 simplenect 的介绍视频">
				<a href="javascript:;" class="video-preview" data-video-width="960" data-video-height="540">
					<img src="{{ STATIC_URL }}images/video-bg.png"/>
					<div class="btn-play" style="display:block;"></div>
				</a>
			</div>
		</div>
	</div>
</div>
<div  style="background-color:#E5E9ED;height:430px">
	<div class="container-narrow">
	<br/>
		<div class="row text-center">
			<img alt="574x138" src="{{STATIC_URL}}images/index/gongneng.png" />
		</div>
		<div class="row">
			<div class="span2"></div>
			<div class="span9 text-center">
			<div class="row-fluid text-center">
<!-- 			<span class="icon-stack" style="font-size:80px">
		 		<i class="icon-circle icon-stack-base"></i>	
				<i class="icon-print icon-light" style="font-size:50px;margin-top:-20px"></i>
				<i class="icon-light"style="font-size:18px;color:#FFFFFF;margin-top:30px">软件仓库</i>
			</span> -->
			<div class="span4" style="float:left">
				<a class="disabled" href="#file_share">
					<span class="circle">
						<i class="icon-file icon-4x icon-light" style="display:block;"></i>
						<span>文件共享</span>
					</span>
				</a>
				</div>
					<div class="span4" >
						<a class="disabled" href="#print_share">
						<span class="circle">
							<i class="icon-print icon-4x icon-light" style="display:block;"></i>
							<span>打印机共享</span>
						</span>
						</a>
					</div>	
				<div class="span4" style="float:right">
					<a href="#repo">
					<span class="circle">
						<i class="icon-comments-alt icon-4x icon-light" style="display:block;"></i>
						<span>即时聊天</span>
					</span>
					</a>
				</div>
			</div>
		</div>
			<div class="span1"></div>
		</div>
	</div>
</div>

<div style="background-color:#FDFDFD;">
	<br/><br/>
<div class="container-narrow">
	<div class="row-fluid text-center" id="file_share" style="font-size:30px">文件共享</div>
	<br/>
	<div class="row">
		<div class="span4">
			<div style="line-height:28px">
				<i class="icon-ok"></i> 不同版本windows间共享<br/>
				<i class="icon-ok"></i> 局域网内共享<br/>
				<i class="icon-ok"></i> 跨网段共享<br/>
				<i class="icon-ok"></i> 断点续传<br/>
				<i class="icon-ok"></i> 源文件变更后自动同步<br/>
				<i class="icon-ok"></i> 文件传输日志<br/><br/><br/>
				<!--
				<h4 style="color:#999;">
					<i class="icon-gift"></i> 免费
				</h4>
				-->
				      
			</div>
		</div>
		<div class="span8">
			<img alt="667x421" src="{{STATIC_URL}}images/index/file_share.jpg" />
		</div>
	</div>
</div>
</div>

<div style="background-color:#E5E9ED">
	<br/><br/>
<div class="container-narrow">
	<div class="row-fluid text-center" id="print_share" style="font-size:30px;margin-top:10px">打印机共享</div>
	<div class="row">
		<br/>
		<div class="span8">
			<img alt="642x424" src="{{STATIC_URL}}images/index/printer_share.jpg" />
		</div>
		<div class="span4" style="padding-left:15px">
			<div style="line-height:28px">
				<i class="icon-ok"></i> 不同版本windows间共享<br/>
				<i class="icon-ok"></i> 局域网内共享<br/>
				<i class="icon-ok"></i> 跨网段共享<br/>
				<i class="icon-ok"></i> 打印用纸统计<br/><br/><br/>
				<!--
				<h4 style="color:#999;">
					 共享打印机：15元/月/台
					<br/><br/>
					不限客户端数量
					<br/><br/>
					<i class="icon-gift"></i> 免费试用15天
				</h4>
			-->
			</div>
		</div>
	</div>
</div>
</div>
<div style="background-color:#FDFDFD;">
	<br/><br/>
<div class="container-narrow">
	<div class="row-fluid text-center" id="repo" style="font-size:30px;margin-top:10px">即时聊天</div>
	<br/>
	<div class="row">
		<div class="span4">
			<div style="line-height:28px">
				<i class="icon-ok"></i> 专为团队协同优化的即时聊天<br/>
				<i class="icon-ok"></i> 自由创建团队<br/>
				<i class="icon-ok"></i> 不限团队人数<br/><br/><br/>
				<!--
				<h4 style="color:#999;">
					<i class="icon-gift"></i> 免费
				</h4>
			-->
		</div>
		</div>
		<div class="span8">
			<img alt="667x421" src="{{STATIC_URL}}images/index/im.jpg" />
		</div>
	</div>
</div>
</div>
<div style="background-color:#E5E8ED;">
<div class="container-narrow">
	<br/><br/>
	<div class="row">
			<div class="text-center">
							
				<a href="{{DOWNLOAD}}/Install/{{ins_file}}"><img style="margin-bottom:10px" src="{{ STATIC_URL }}images/download.png" class="mypng" /></a>

	</div>
	<br>
</div>
</div>

	<br><br>
</div>
<script src="{{ STATIC_URL }}js/lib/video.js"></script>

{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}
