{% extends "base.html" %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block content %}
<!-- <div class="container-fluid">
	<div class="row"> -->
<div class="main index_banner">
	<div class="main_in">
		<div class="top_node">
			<div class="download_area">
				{% include "index_download.html" %}
			</div>
			<div class="video_area">
				<div class="video_play">
					<img src="{{ STATIC_URL }}images/video_play2.png" class="mypng" />
					<a href="javascript:;" onclick="showFlv();" class="video_play_btn"></a>
				</div>
			</div>
		</div>
	</div>

<div class="player_video" style="">
	<div class="player_box">
		<div id="player1" style=""><a href="http://www.macromedia.com/go/getflashplayer">没有Flash播放器？</a></div>
	</div>
</div>
	<script type="text/javascript" src="{{ STATIC_URL }}flash/swfobject.js"></script>
	<script type="text/javascript">
		var swfUrl="{{ STATIC_URL }}flash/";
		var swfLeft=$(".main_in").offset().left;
			function showFlv(){
				var s1 = new SWFObject(swfUrl+"flvplayer.swf","single","960","540","7");
				s1.addParam("allowfullscreen","true");
				s1.addParam("vmode","window");
				s1.addVariable("autostart","true");
				s1.addVariable("file",swfUrl+"simplenect.flv");
				s1.addVariable("image",swfUrl+"flv_bg.jpg");
				s1.addVariable("width","960");
				s1.addVariable("height","540");
				s1.addVariable("displayheight","540");
				s1.write("player1");
				$("#player1").css({"left":swfLeft});
				$("#player1").show();
				$(".player_video").show();
			}
		$(".player_video").click(function(){
			$("#player1").hide();
			$(".player_video").hide();
			$("#player1").html("");
		});
	</script>
</div>
<div class="container-fluid"  style="background-color:#E5E9ED">
	<br/><br/>
	<div class="row-fluid">
			<div class="span6 offset3">
				<div class="text-center"><h2>SimpleNect的功能</h2>
					<div><p>SimpleNect为您提供文件共享、打印共享、实现远程办公协同</p></div>
				</div>
			</div>
	</div>
	<br/><br/>
	<div class="row-fluid">
		<div class="span6 offset3">
			<img alt="574x138" src="{{STATIC_URL}}images/index/gongneng.png" />
		</div>
	</div>
</div>

<div style="background-color:#FDFDFD">
	<br/><br/>
<div class="container-narrow">
	<div><div class="text-center"><h2>文件共享</h2></div></div>
	<br/>
	<div class="row">
		<div class="span4">
			<p>
				简单：不同操作系统共享信息<br/>
				安全：
				快速：<br/>
				跨网络：局域网或互联网彼此都可以分享文件
			</p>
		</div>
		<div class="span8">
			<img alt="667x421" src="{{STATIC_URL}}images/index/file_share.png" />
		</div>
	</div>
</div>
</div>

<div style="background-color:#E5E9ED">
<div class="container-narrow">
	<br/><br/>
	<div class="row" ><div class="text-center"><h2>打印机共享</h2></div></div>
	<div class="row">
		<br/>
		<div class="span8">
			<img alt="642x424" src="{{STATIC_URL}}images/index/printer_share.png" />
		</div>
		<div class="span4">
			<p>
				不仅帮你搞定局域网打印共享，还可以将打印机分享给互联网上的朋友
			</p>
		</div>

	</div>
</div>
</div>
<div style="background-color:#FDFDFD">
	<br/><br/>
<div class="container-narrow">
	<div><div class="text-center"><h2>软件仓库</h2></div></div>
	<br/>
	<div class="row">
		<div class="span4">
			<p>
			你可以利用SimpleNect组建个人的文件仓库，可以将仓库的部分权限分享给朋友们使用
			</p>
		</div>
		<div class="span8">
			<img alt="667x421" src="{{STATIC_URL}}images/index/file_share.png" />
		</div>
	</div>
</div>
</div>

{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}