{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block content %}
<script type="text/javascript">document.domain = '{{ domain }}';</script>
<script language="javascript" type="text/javascript" defer="defer" src="{{ STATIC_URL }}js/lib/datepicker/WdatePicker.js"></script>
<h1 class="center">阡陌最近30天局域网数统计</h1>
<h3 style="text-align:right;margin-right:150px;">
{% if type == '1' %}
<a href="{% url 'lan_stack_chart' %}?type=2&day={{ day }}">看PC数堆积图</a>
{% else %}
<a href="{% url 'lan_stack_chart' %}?type=1&day={{ day }}">看装机数堆积图</a>
{% endif %}
&nbsp;&nbsp;&nbsp;&nbsp;
查询日期 <input type="text" name="day" class="Wdate search_day" title="统计日期" value="{{ day }}"     onFocus="WdatePicker({minDate:'2011-11-08',startDate:'{{ day }}',dateFmt:'yyyy-MM-dd'})" readonly style="width:90px;font-size:12px;color:#555555" />
&nbsp;&nbsp;<input type="button" name="" value="确定" class="day_search" />
</h3>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'area'
            },
            title: {
                text: '{{ type_name }}堆积图'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: ['{{ day_list|safeseq|join:"','" }}'	],
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                }
            },
            yAxis: {
                title: {
                    text: '局域网%'
                }
            },
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.series.name +'</b><br/>'+
                    this.x +': '+ Highcharts.numberFormat(this.percentage, 1) +'% ('+
                    Highcharts.numberFormat(this.y, 0, ',') +' 个局域网)';
                }
            },
            plotOptions: {
         	   area: {
	                stacking: 'percent',
	                lineColor: '#ffffff',
	                lineWidth: 1,
	                marker: {
	                    lineWidth: 1,
	                    lineColor: '#ffffff'
	                }
            	}
            },
            series: [{
                name: '{{ type_name }}1',
                data: [
                		 {% for num in lan_dict.num1  %}{{ num }}{% if not forloop.last%},{% endif %}{% endfor %}
                		]
            }, {
                name: '{{ type_name }}2-5',
                data: [
						{% for num in lan_dict.num2  %}{{ num }}{% if not forloop.last%},{% endif %}{% endfor %}
					]
            }, {
                name: '{{ type_name }}6-10',
                data: [
						{% for num in lan_dict.num3  %}{{ num }}{% if not forloop.last%},{% endif %}{% endfor %}
					]
            }, {
                name: '{{ type_name }}11-20',
                data: [
						{% for num in lan_dict.num4  %}{{ num }}{% if not forloop.last%},{% endif %}{% endfor %}
					]
            }, {
                name: '{{ type_name }}21-30',
                data: [
						{% for num in lan_dict.num5  %}{{ num }}{% if not forloop.last%},{% endif %}{% endfor %}
					]
            }
            , {
                name: '{{ type_name }}31-50',
                data: [
						{% for num in lan_dict.num6  %}{{ num }}{% if not forloop.last%},{% endif %}{% endfor %}
					]
            }, {
                name: '{{ type_name }}50以上',
                data: [
						{% for num in lan_dict.num7  %}{{ num }}{% if not forloop.last%},{% endif %}{% endfor %}
					]
            }

            ]
        });
    });
    
});
</script>

<script src="{{ STATIC_URL }}js/lib/highcharts/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/lib/highcharts/modules/exporting.js"></script>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>





<script>
$(".day_search").click(function(){
	var sDay=$(".search_day").val();
	if(null==sDay||sDay==""){
		alert("请选择查询日期！");
		return;
	}
	var url="{% url 'lan_stack_chart' %}?type={{ type }}&day="+sDay;
	window.location.href=url;
});
</script>
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}