{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block content %}
<script type="text/javascript">document.domain = '{{ domain }}';</script>
<script language="javascript" type="text/javascript" defer="defer" src="{{ STATIC_URL }}js/lib/datepicker/WdatePicker.js"></script>
<h1 class="center">阡陌留存率统计</h1>
<h3 style="text-align:right;margin-right:150px;">
查询日期 <input type="text" name="day" class="Wdate search_day" title="统计日期" value="{{ day }}"     onFocus="WdatePicker({minDate:'2012-11-01',startDate:'{{ day }}',dateFmt:'yyyy-MM-dd'})" readonly style="width:90px;font-size:12px;color:#555555" />
&nbsp;&nbsp;<input type="button" name="" value="确定" class="day_search" />
</h3>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
     	  	 	renderTo: 'container',
           		type: 'line'
            },
            title: {
                text: '留存率——上个周期和本周期都上线的用户数/上个周期上线的用户数    （1个周期=15天）',
        
            },
            subtitle: {
                //text: 'Source: WorldClimate.com',
				text: '',
            },
            xAxis: {
               
				categories:['{{ day_list|safeseq|join:"','" }}']
              },
            yAxis: {
                title: {
                    text: '留存率（%）'
                }
            },
            tooltip: {
            	enabled: true,
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'%';
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                name: '用户留存率',
                data: [
			             {% for bug in remain_ratio  %}{{ bug }}{% if not forloop.last%},{% endif %}{% endfor %}
					]
            }
            
             
            //, {
            //    name: 'London',
            //  data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
            //}
        	]
        });
    });
    
});
		</script>

<script src="{{ STATIC_URL }}js/lib/highcharts/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/lib/highcharts/modules/exporting.js"></script>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>





<script>
$(".day_search").click(function(){
	var sDay=$(".search_day").val();
	if(null==sDay||sDay==""){
		alert("请选择查询日期！");
		return;
	}
	var url="{% url 'remain_ratio_chart' %}?day="+sDay;
	window.location.href=url;
});
</script>
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}