{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block content %}
<script type="text/javascript">document.domain = '{{ domain }}';</script>
<script src="{{STATIC_URL}}js/lib/jquery-1.7.2.min.js"></script>
<script language="javascript" type="text/javascript" defer="defer" src="{{ STATIC_URL }}js/lib/datepicker/WdatePicker.js"></script>
<h1 class="center">阡陌每日卸载时间段统计</h1>
<h3 style="text-align:right;margin-right:150px;">
查询日期 <input type="text" name="day" class="Wdate search_day" title="统计日期" value="{{ day|date:"Y-m-d" }}"     onFocus="WdatePicker({minDate:'2011-11-08',startDate:'{$day}',dateFmt:'yyyy-MM-dd'})" readonly style="width:90px;font-size:12px;color:#555555" />
&nbsp;&nbsp;<input type="button" name="" value="确定" class="day_search" />
</h3>
<script type="text/javascript">
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
     	  	 	renderTo: 'container',
           		type: 'line'
            },
            title: {
                text: '{{ day|date:"Y-m-d" }} 卸载时间段统计',
        
            },
            subtitle: {
                //text: 'Source: WorldClimate.com',
				text: '',
            },
            xAxis: {
                categories: ['00', '01', '02', '03', '04', '05',
                    '06', '07', '08', '09', '10', '11','12','13','14','15','16','17','18','19','20','21','22','23']
            },
            yAxis: {
                title: {
                    text: '卸载量'
                }
            },
            tooltip: {
            	enabled: false,
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y +'个';
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: false
                }
            },
            series: [{
                name: '',
                data: [{{ sr_num.00 }},{{ sr_num.01 }},{{ sr_num.02 }},{{ sr_num.03 }},{{ sr_num.04 }},{{ sr_num.05 }},{{ sr_num.06 }},{{ sr_num.07 }},{{ sr_num.08 }},{{ sr_num.09 }},{{ sr_num.10 }},{{ sr_num.11 }},{{ sr_num.12 }},{{ sr_num.13 }},{{ sr_num.14 }},{{ sr_num.15 }},{{ sr_num.16 }},{{ sr_num.17 }},{{ sr_num.18 }},{{ sr_num.19 }},{{ sr_num.20 }},{{ sr_num.21 }},{{ sr_num.22 }},{{ sr_num.23 }}]
            }

        	]
        });
    });
    
});
		</script>

<script src="{{ STATIC_URL }}js/lib/highcharts/highcharts.js"></script>
<script src="{{ STATIC_URL }}js/lib/highcharts/modules/exporting.js"></script>

<div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
<table class="center" border="1" width="100%">
	<tr>
		<th>卸载客户端MAC地址</th><th>当日最后一次卸载时间</th><th>第一次登录时间</th>
	</tr>
    {% for sr in sr_list %}
	<tr>
		<td>
            <a href="/SoftRecord/record_by_cid/?cid={{ sr.client_identifie }}" target="_blank" style="color:blue;">{{ sr.client_identifie }}
            </a>
        </td>
        <td>{{ sr.login_time|date:"Y-m-d H:m:s" }}</td>
        <td>
            {% for f in f_list %}
                {% if sr.client_identifie == f.client_identifie %}{{ f.login_time|date:"Y-m-d H:m:s" }}
                {% endif %}
            {% endfor %}
        </td>
	</tr>
	{% endfor %}
</table>

<script>
$(".day_search").click(function(){
	var sDay=$(".search_day").val();
	if(null==sDay||sDay==""){
		alert("请选择查询日期！");
		return;
	}
	var url="/SoftRecord/uninstall_chart/?day="+sDay;
	window.location.href=url;
});
</script>
{% endblock %}

{% block footer %}{% include "footer.html" %}{% endblock %}