{% extends "base.html" %}
{% block header %}{% include "header.html" %}{% endblock %}

{% block content %}
<div class="main">
	
	<div class="center_area" >
	<div class="center_register">
				<div class="nclogin_allout">
					<div class="nc_register2_bottom">
						激活成功！&nbsp;&nbsp;
						<INPUT class="btn btn-info" name="pclog" type="button" value="进入个人中心" onClick="location.href='{% url 'accounts_index' %}'">
					</div>
				</div>
			</div>	
	</div>
</div>					
{% endblock %}

{% block footer %}{% include "footer.html" %}{% endblock %}