{% extends "admin_index.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block admin_left %}{% include "admin_left.html" %}{% endblock %}
{% block content %}
<div class="main">
	<div class="center_area">
		<h3>新增发布</h3>
		<form action="" method="post" enctype="multipart/form-data" onsubmit="return checkForm();">{% csrf_token %}
		<table width="80%">
		<tr>
		<td align="right">版本号<font color="red">*</font>：</td><td>{{ form.ver }}{{ form.ver.errors }}</td>
		</tr>
		<tr>
		<td align="right">功能描述<font color="red">*</font>：</td><td>{{ form.desc }}{{ form.desc.errors }}</td>
		</tr>
		<tr>
		<td align="right">安装包：</td><td>{{ form.ins }}</td>
		</tr>
		<tr>
		<td align="right">补丁包：</td><td>{{ form.patch }}</td>
		</tr>
		<tr>
		<td align="right">&nbsp;</td><td><input type="submit" name="" value="新增发布信息" /></td>
		</tr>
		</table>
		</form>
	</div>
</div>
<script>
 function checkForm(){
	var ver=$.trim($("input[name=ver]").val());
	if(ver==null||ver==""){
		return false;
	}
	var desc=$.trim($(".desc_area").val());
	if(desc==null||desc==""){
		return false;
	}
	return true;
}
</script>
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}