{% extends "admin_index.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block admin_left %}{% include "admin_left.html" %}{% endblock %}
{% block content %}
<style>
.pub_list th{
	text-align:center;
}
</style>
	<div class="manager_right">
		<h3>发布列表 <a href="{% url 'publish_add' %}" style="font-size:14px;font-weight:normal;margin-left:700px;">&gt;&gt;创建发布</a></h3>
		<table class="pub_list" width="890" border="1" style="border-collapse:collapse">
			<tr>
				<th>ID</th><th>版本号</th><th width="360" >功能描述</th><th>安装包</th><th>有否补丁包</th><th>发布时间</th><th>操作</th>
			</tr>
			{% for pub in pub_list %}
			<tr align="left">
				<td>{{pub.id }}</td>
				<td>{{pub.ver}}</td>
				<td>{{pub.pub_desc}}</td>
				<td>{% if pub.install_file %}{{ pub.install_file }}{% else %}--{% endif %}</td>
				<td align="center">{% if pub.patch_file %}是{% else %}否{% endif %}</td>
				<td>	{% if pub.pub_time %}{{ pub.pub_time|date:"Y-m-d H:i:s" }}{% else %}还未发布{% endif %}</td>
				<td>
					{% if pub.pub_time %}
					<a id="pub_{{ pub.id }}" href="javascript:doPub({{ pub.id }});">正式发布</a>
					<a id="dpub_{{ pub.id }}" href="javascript:delPub({{ pub.id }});" >删除</a>
					{% endif %}
					<a href="{% url 'publish_edit' %}?id={{ pub.id }}">编辑</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>

<script>
function doPub(id){
	if(id>0){
		jQuery.post("{% url "do_pub" %}",{"id":id},function(data){
			if(data.status){
				$("#pub_"+id).parent("td").prev("td").html(data.data);
				$("#pub_"+id).remove();
			}else{
				alert(data.info);
			}		
		},"json");
	}else{
		alert("参数错误！");
	}
}
function delPub(id){
	if(id>0){
		if(confirm("确定要删除ID："+id+" 的发布吗？")){
		jQuery.post("{% url 'del_pub' %}",{"id":id},function(data){
			if(data.status){
				$("#pub_"+id).parent("td").parent("tr").remove();
			}else{
				alert(data.info);
			}		
		},"json");
		}
	}else{
		alert("参数错误！");
	}
}

</script>
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}