{% extends "layout_base.html" %}

{% block content %}


<div class="container-fluid">
	<div class="row-fluid">
		<div class="well sidebar-nav right">
            <ul class="nav nav-tabs">
				<li class="active">
					<a href="#">好友</a>
				</li>
				<li>
					<a href="#">群</a>
				</li>
			</ul>


			<div class="media">
				 <a href="#" class="pull-left"><i class="icon-user icon-2x"></i></a>
				<div class="media-body">
					<h5 class="media-heading">
						张三
					</h5>
					<div class="muted font12">
					zhangsan@126.com
					</div>
				</div>
			</div>
          </div><!--/.well -->

          <div class="content fixed-fixed">
				<div class = "well" style="padding:5px 10px">
					<div class="right">
						<div class="btn-group">
						  <a class="btn active">好友的</a>
						  <a class="btn">我的</a>
						</div>
					</div>

					<div>
						<a class="btn " href="/client/friend/addfriends/"><i class="icon-plus"></i> 添加好友</a>
					</div>

				</div>


				<div class="row-fluid">
					<div class="right muted font12">
						2013-05-20 11:04:47
						<br>
						test
					</div>

					<div class="media">
						 <a href="#" class="pull-left"><i class="icon-file icon-2x"></i></a>
						<div class="media-body">
							<h5 class="media-heading">
								共享文件名
							</h5>
							<div class="muted font12">
							李四
							</div>
						</div>
					</div>
				</div>
			</div>
          </div>
	</div>
</div>

{% endblock %}

{% block js %}
<script type="text/javascript">
$.cookie("test", "dsfasdfasdfasdfasdf", { expires: 9999 });
</script>

{% endblock %}

