<html>
<head>
	<title>main</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css" media=screen>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css">
  <style type='text/css'>
    body {
    padding-top: 95px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}

.row-fluid > .sidebar-nav {
    position: relative;
    top: 0;
    left:auto;
    width: 320px;
}
.right {
    float:right;
}

.fixed-fixed {
    margin: 0 340px 0 0;
}

.media-heading {
  margin: 0;
}

.font12{
	font-size: 12px;
}

.well{
	padding-left:5px;
}

.help_image{
  width:848px;
  height:476px;
  background-repeat: no-repeat; 
  margin: 0 auto;
}

  </style>
{% block style %}{% endblock %}

</head>
<body>


  <div class="navbar navbar-inner navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="nav-collapse collapse">
        <ul class="nav pagination-centered">
          <li id="menu_friend"><a href="/client/friend/feed/"><i class="icon-user icon-3x"></i><br>好友</a></li>
          <li id="menu_file"><a href="/client/file/index/"><i class="icon-share icon-3x"></i><br>文件共享</a></li>
          <li id="menu_transfer"><a href="/client/trans/processing/"><i class="icon-exchange icon-3x"></i><br>传输记录</a></li>
          <li id="menu_print"><a href="/client/print/index/"><i class="icon-print icon-3x"></i><br>打印共享</a></li>
          <li id="menu_help"><a href="/client/help/nav/"><i class="icon-book icon-3x"></i><br>帮助教程</a></li>
        </ul>

        <div class="dropdown pull-right">
          <a class="dropdown-toggle" id="drop5" role="button" data-toggle="dropdown" href="#" style="color:#ccc;">{{user.nick}} <b class="caret"></b></a>
          <ul id="menu2" class="dropdown-menu" role="menu" aria-labelledby="drop5">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">个人设置</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">退出</a></li>
          </ul>
        </div>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>


{% block content %}{% endblock %}

<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{STATIC_URL}}js/jquery.cookie.js"></script>
<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script type="text/javascript">
//高亮选中的菜单
var pathArray = window.location.pathname.split('/');

if(pathArray[2] == 'friend'){
  $("#menu_friend").addClass("active");
}else if(pathArray[2] == 'file'){
  $("#menu_file").addClass("active");
}else if(pathArray[2] == 'trans'){
  $("#menu_transfer").addClass("active");
}else if(pathArray[2] == 'print'){
  $("#menu_print").addClass("active");
}else if(pathArray[2] == 'help'){
  $("#menu_help").addClass("active");
}
</script>

{% block js %}{% endblock %}
</body>
</html>