{% if is_paginated %}
{% load i18n %}
<div class="pagination">
    <ul>
        <li>
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}{{ getvars }}{{ hashtag }}" class="prev">&lsaquo;&lsaquo; {% trans "前一页" %}</a>
    {% else %}
        <span class="disabled prev">&lsaquo;&lsaquo; {% trans "前一页" %}</span>
    {% endif %}
        </li>
        <li style="">
    {% for page in pages %}
        {% if page %}
            {% ifequal page page_obj.number %}
                <span class="current page" style="margin-top:0px">{{ page }}</span>
            {% else %}
                <a href="?page={{ page }}{{ getvars }}{{ hashtag }}" class="page" style="margin-top:0px">{{ page }}</a>
            {% endifequal %}
        {% else %}
            <span>...</span>
        {% endif %}
    {% endfor %}
        </li>
        <li>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}{{ getvars }}{{ hashtag }}" class="next">{% trans "后一页" %} &rsaquo;&rsaquo;</a>
    {% else %}
        <span class="disabled next">{% trans "后一页" %} &rsaquo;&rsaquo;</span>
    {% endif %}
        </li>
    </ul>
</div>
{% endif %}
