body {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Microsoft YaHei","Frutiger", "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif !important; 
  font-size: 14px;
  font-weight:normal;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 960px;
  }
/*.row {
  margin-left: 0px;
  *zoom: 1;
  }*/
.index_banner{ 
  background:url(../images/index/index_bg.jpg) no-repeat scroll center top;
}
.other_bg{
	background: url(../images/qianmo_bg.jpg) repeat scroll 0 0 transparent;
}
.main{
  width:100%;
}
.main_in{
  width:960px;
  height:489px;
  margin:0 auto;
}
.top_node{
  width:960px;
  height:489px;
  overflow:hidden;
}
.video_area{
  width:109px;
  height:109px;
  float:left;
  margin:230px 0 0 325px !important;
}
.video_play{
  width:109px;
  height:109px;
  overflow:hidden;
}
.video_play a:hover{
  filter:alpha(opacity=10);  
     -moz-opacity:0.1;  
     -khtml-opacity: 0.1;  
     opacity:0.1;
     background-color:#4c4c4c;
}
.video_play_btn{
  position:relative;
  display:block;
  width:109px;
  height:109px;
  left:0px;
  top:-109px;

}
.player_video{
  display:none;
  background: none repeat scroll 0 0 #000000;
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0.4;
  filter:alpha(opacity=40);  
     -moz-opacity:0.4;  
     -khtml-opacity: 0.4;
     position:fixed;
  _position:absolute;
  top: 0;
  _top:116px;
  transition: opacity 250ms ease-in-out 0s;
  width: 100%;
}
#player1{
  width:960px;
  margin:0 0 0 75px;
  position: fixed;
  top:40px;
  display:none;
}
.player_box{
  width:1000px;
  margin:0 auto;
}
.footer{
  margin-top:75px;
  width:100%;
  height:67px;
  background-color:#303030;

}
.footer_in{
  width:960px;
  margin:0 auto;
  line-height:67px;
  font-size:13px;
  height:67px;
  color:#dcdcdc;
  text-align:left;
  background-color:#303030;
}
.contact_us{
  display:block;
  float:left;
  width:138px;
}
.contact_qq_pic{
  display:block;
  float:left;
  height:26px;
  width:23px;
  margin-top:22px;
}
.contact_qq{
  display:block;
  float:left;
  width:125px;
  margin:0 230px 0 5px;
}


.register_btn{
  background:url("../images/register_btn.jpg") no-repeat;
  border:none;
  width:99px !important; 
  height:43px;
  cursor:pointer;
  color:#ffffff;
}
.login_btn{
  background:url("../images/login_btn2.jpg") no-repeat;
  border:none;
  width:99px !important; 
  height:43px;
  cursor:pointer;
  color:#ffffff;
}

.btn_send{
  background: url("../images/comment_btn.jpg") no-repeat scroll 0 0 transparent;
  width:64px !important;
  height:28px;
  border:none;
  padding:0;
  float:right;
  margin-right:12px;
  margin-top:5px;
  cursor: pointer;
}

.btn_cancel{
  background: url("../images/cancel_btn.jpg") no-repeat scroll 0 0 transparent;
  width:64px !important;
  height:28px;
  border:none;
  padding:0;
  float:right;
  margin-right:12px;
  margin-top:5px;
  cursor: pointer;
}
.btn_send2{
  background: url("../images/comment_btn2.jpg") no-repeat scroll 0 0 transparent;
  width:65px !important;
  height:31px;
  border:none;
  padding:0;
  float:right;
  margin-right:5px;
  margin-top:5px;
  cursor: pointer;
}

.send_button{
  background: url("../images/reply_btn.jpg") no-repeat scroll 0 0 transparent;
  border: medium none;
    cursor: pointer;
    float: right;
    height: 28px;
    margin-right: 12px;
    margin-top: 5px;
    padding: 0;
    width: 64px !important;
}
.reply_close{
  background: url("../images/cancel_btn.jpg") no-repeat scroll 0 0 transparent;
  border: medium none;
    cursor: pointer;
    float: right;
    height: 28px;
    margin-right: 12px;
    margin-top: 5px;
    padding: 0;
    width: 64px !important;
}
.circle{
  height: 170px;
  cursor: pointer;
  float: left;
  margin-right: 0px;
  text-align: center;
  width: 170px;
  background: rgba(37, 37, 40, 0.9);
  border-radius: 100%;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
}

.circle i{
  margin-top: 40px;
}
.circle span{
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  display: block;
  margin-top: 10px;
}
.circle:hover,
.circle.active {
  background: rgba(17, 137, 217, 1);
}
.comment{
  padding-top:68px;
  width:100%;
  background-color:#E5E9ED;
}
.footer{
  margin-top:0px;
  width:100%;
  height:67px;
  background-color:#303030;
}
.download_area{
  float:left;
  height:70px;
  width:210px;
  margin-top:360px;
  margin-left:144px;
  _margin-left:76px;
}
.update_btn{
  background: url("../images/update_btn.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 39px;
    width: 160px !important;
}
.findpwd_btn{
  background: url("../images/findpwd_btn.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    height: 43px;
    width: 99px !important;
}
.resetpwd_btn{
  background: url("../images/resetpwd_btn.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    cursor: pointer;
    height: 43px;
    width: 99px !important;
}
.returnTop {
  position:fixed; _position:absolute; 
  right:50px;
  bottom:100px;
  _bottom:auto; 
  display:none;
  width:40px; 
  height:40px;
  border:1px solid #D5D5D5;
  border-radius:6px;
  background:#E5E9ED;
  box-shadow:0 0 5px #F5F5F5;
  text-indent:-9999px;
  cursor:pointer;
}
.returnTop .s{ 
  position:absolute;
  top:-2px;
  _top:-20px;
  left:10px;
  width:0;
  height:0;
  border-width:10px;
  border-color:transparent transparent #5D5D5D;
  border-style:dashed dashed solid;
}
.returnTop .b{
  position:absolute; top:18px;
  left:16px;
  height:12px;
  width:8px;
  background:#5D5D5D;
}

.send_area_top{
  height:54px;
  background:url(../images/comment_tip.png) no-repeat;
}
.reply_small a{
  display:block;
  width:46px;
  height:23px;
  background:url(../images/reply_btn_small.png) no-repeat scroll 0 0 transparent;
  overflow:hidden;
}
.reply_small a:hover{
  background-position:0 -23px;
}
.btn_send2{
  background: url("../images/comment_btn2.png") no-repeat scroll 0 0 transparent;
  width:65px;
  height:33px;
  border:none;
  padding:0;
  float:right;
  margin-right:5px;
  margin-top:5px;
  cursor: pointer;