.video-js
{
	background-color: #000;
	font-size: 10px;
	padding: 0;
	position: relative;
	vertical-align: middle;
}
.video-js .vjs-tech
{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.video-js:-moz-full-screen
{
	position: absolute;
}
body.vjs-full-window
{
	height: 100%;
	margin: 0;
	overflow-y: auto;
	padding: 0;
}
.video-js.vjs-fullscreen
{
	_position: absolute;
	bottom: 0;
	height: 100% !important;
	left: 0;
	overflow: hidden;
	position: fixed;
	right: 0;
	top: 0;
	width: 100% !important;
	z-index: 1000;
}
.video-js:-webkit-full-screen
{
	height: 100% !important;
	width: 100% !important;
}
.vjs-poster
{
	cursor: pointer;
	margin: 0 auto;
	max-height: 100%;
	padding: 0;
	position: relative;
	width: 100%;
}
.video-js .vjs-text-track-display
{
	bottom: 4em;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	left: 1em;
	position: absolute;
	right: 1em;
	text-align: center;
}
.video-js .vjs-text-track
{
	background: #000;
	background: rgba(0,0,0,0.5);
	color: #fff;
	display: none;
	font-size: 1.4em;
	margin-bottom: 0.1em;
	text-align: center;
}
.video-js .vjs-subtitles
{
	color: #fff;
}
.video-js .vjs-captions
{
	color: #fc6;
}
.vjs-tt-cue
{
	display: block;
}
.vjs-fade-in
{
	moz-transition: visibility 0s linear 0s, opacity 0.3s linear;
	ms-transition: visibility 0s linear 0s, opacity 0.3s linear;
	opacity: 1 !important;
	o-transition: visibility 0s linear 0s, opacity 0.3s linear;
	transition: visibility 0s linear 0s, opacity 0.3s linear;
	visibility: visible !important;
	webkit-transition: visibility 0s linear 0s, opacity 0.3s linear;
}
.vjs-fade-out
{
	moz-transition: visibility 0s linear 1.5s,opacity 1.5s linear;
	ms-transition: visibility 0s linear 1.5s,opacity 1.5s linear;
	opacity: 0 !important;
	o-transition: visibility 0s linear 1.5s,opacity 1.5s linear;
	transition: visibility 0s linear 1.5s,opacity 1.5s linear;
	visibility: hidden !important;
	webkit-transition: visibility 0s linear 1.5s,opacity 1.5s linear;
}
.vjs-default-skin .vjs-controls
{
	background: #242424;
	background: linear-gradient(top, #242424 50%, #1f1f1f 50%, #171717 100%);
	background: -moz-linear-gradient(top, #242424 50%, #1f1f1f 50%, #171717 100%);
	background: -ms-linear-gradient(top, #242424 50%, #1f1f1f 50%, #171717 100%);
	background: -o-linear-gradient(top, #242424 50%, #1f1f1f 50%, #171717 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(50%, #242424), color-stop(50%, #1f1f1f), color-stop(100%, #171717));
	background: -webkit-linear-gradient(top, #242424 50%, #1f1f1f 50%, #171717 100%);
	border-top: 1px solid #404040;
	bottom: 0;
	color: #fff;
	height: 2.6em;
	left: 0;
	margin: 0;
	opacity: 0;
	padding: 0;
	position: absolute;
	right: 0;
	visibility: hidden;
}
.vjs-default-skin .vjs-control
{
	float: left;
	height: 2.6em;
	margin: 0;
	padding: 0;
	position: relative;
	text-align: center;
	width: 2.6em;
}
.vjs-default-skin .vjs-control:focus
{
	outline: 0;
}
.vjs-default-skin .vjs-control-text
{
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.vjs-default-skin .vjs-play-control
{
	cursor: pointer !important;
	width: 5em;
}
.vjs-default-skin.vjs-paused .vjs-play-control div
{
	background: url(../images/video-js-a4e882b3c27b7d6a6db65779704f0d6e.png);
	height: 17px;
	margin: 0.5em auto 0;
	width: 15px;
}
.vjs-default-skin.vjs-playing .vjs-play-control div
{
	background: url(../images/video-js-a4e882b3c27b7d6a6db65779704f0d6e.png) -25px 0;
	height: 17px;
	margin: 0.5em auto 0;
	width: 15px;
}
.vjs-default-skin .vjs-rewind-control
{
	cursor: pointer !important;
	width: 5em;
}
.vjs-default-skin .vjs-rewind-control div
{
	background: url(../images/video-js-a4e882b3c27b7d6a6db65779704f0d6e.png);
	height: 16px;
	margin: 0.5em auto 0;
	width: 19px;
}
.vjs-default-skin .vjs-mute-control
{
	cursor: pointer !important;
	float: right;
	width: 3.8em;
}
.vjs-default-skin .vjs-mute-control div
{
	background: url(../images/video-js-a4e882b3c27b7d6a6db65779704f0d6e.png) -75px -25px;
	height: 16px;
	margin: 0.5em auto 0;
	width: 22px;
}
.vjs-default-skin .vjs-mute-control.vjs-vol-0 div
{
	background: url(../images/video-js-a4e882b3c27b7d6a6db65779704f0d6e.png) 0 -25px;
}
.vjs-default-skin .vjs-mute-control.vjs-vol-1 div
{
	background: url(../images/video-js-a4e882b3c27b7d6a6db65779704f0d6e.png) -25px -25px;
}
.vjs-default-skin .vjs-mute-control.vjs-vol-2 div
{
	background: url(../images/video-js-a4e882b3c27b7d6a6db65779704f0d6e.png) -50px -25px;
}
.vjs-default-skin .vjs-volume-control
{
	float: right;
	width: 5em;
}
.vjs-default-skin .vjs-volume-bar
{
	background: #666;
	background: linear-gradient(top, #333, #666);
	background: -moz-linear-gradient(top, #333, #666);
	background: -ms-linear-gradient(top, #333, #666);
	background: -o-linear-gradient(top, #333, #666);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#333), to(#666));
	background: -webkit-linear-gradient(top, #333, #666);
	border-radius: 0.3em;
	cursor: pointer !important;
	height: 0.6em;
	margin: 1em auto 0;
	moz-border-radius: 0.3em;
	position: relative;
	webkit-border-radius: 0.3em;
	width: 5em;
}
.vjs-default-skin .vjs-volume-level
{
	background: #fff;
	background: linear-gradient(top, #fff, #ccc);
	background: -moz-linear-gradient(top, #fff, #ccc);
	background: -ms-linear-gradient(top, #fff, #ccc);
	background: -o-linear-gradient(top, #fff, #ccc);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#ccc));
	background: -webkit-linear-gradient(top, #fff, #ccc);
	border-radius: 0.3em;
	height: 0.6em;
	left: 0;
	moz-border-radius: 0.3em;
	position: absolute;
	top: 0;
	webkit-border-radius: 0.3em;
}
.vjs-default-skin .vjs-volume-handle
{
	background: #ccc;
	border: 1px solid #fff;
	border-radius: 0.6em;
	height: 0.8em;
	left: 0;
	moz-border-radius: 0.6em;
	position: absolute;
	top: -0.2em;
	webkit-border-radius: 0.6em;
	width: 0.8em;
}
.vjs-default-skin div.vjs-progress-control
{
	background: #333;
	background: linear-gradient(top, #333, #222);
	background: -moz-linear-gradient(top, #222, #333);
	background: -ms-linear-gradient(top, #333, #222);
	background: -o-linear-gradient(top, #333, #222);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#333));
	background: -webkit-linear-gradient(top, #222, #333);
	border-bottom: 1px solid #1F1F1F;
	border-top: 1px solid #222;
	height: 1.0em;
	left: 4.8em;
	position: absolute;
	right: 4.8em;
	top: -1.3em;
	width: auto;
}
.vjs-default-skin .vjs-progress-holder
{
	background: #111;
	background: linear-gradient(top, #111, #262626);
	background: -moz-linear-gradient(top, #111, #262626);
	background: -ms-linear-gradient(top, #111, #262626);
	background: -o-linear-gradient(top, #111, #262626);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#111), to(#262626));
	background: -webkit-linear-gradient(top, #111, #262626);
	border-radius: 0.6em;
	cursor: pointer !important;
	height: 1.0em;
	margin: 0;
	moz-border-radius: 0.6em;
	padding: 0;
	position: relative;
	webkit-border-radius: 0.6em;
}
.vjs-default-skin .vjs-progress-holder .vjs-play-progress,.vjs-default-skin .vjs-progress-holder .vjs-load-progress
{
	border-radius: 0.6em;
	display: block;
	height: 1.0em;
	left: 0;
	margin: 0;
	moz-border-radius: 0.6em;
	padding: 0;
	position: absolute;
	top: 0;
	webkit-border-radius: 0.6em;
}
.vjs-default-skin .vjs-play-progress
{
	background: #efefef;
	background: #fff;
	background: linear-gradient(top, #efefef 0%, #f5f5f5 50%, #dbdbdb 50%, #f1f1f1 100%);
	background: linear-gradient(top, #fff 0%, #d6d6d6 50%, #fff 100%);
	background: -moz-linear-gradient(top, #efefef 0%, #f5f5f5 50%, #dbdbdb 50%, #f1f1f1 100%);
	background: -moz-linear-gradient(top, #fff 0%, #d6d6d6 50%, #fff 100%);
	background: -ms-linear-gradient(top, #efefef 0%, #f5f5f5 50%, #dbdbdb 50%, #f1f1f1 100%);
	background: -ms-linear-gradient(top, #fff 0%, #d6d6d6 50%, #fff 100%);
	background: -o-linear-gradient(top, #efefef 0%, #f5f5f5 50%, #dbdbdb 50%, #f1f1f1 100%);
	background: -o-linear-gradient(top, #fff 0%, #d6d6d6 50%, #fff 100%);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #efefef), color-stop(50%, #f5f5f5), color-stop(50%, #dbdbdb), color-stop(100%, #f1f1f1));
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #fff), color-stop(50%, #d6d6d6), color-stop(100%, #fff));
	background: -webkit-linear-gradient(top, #efefef 0%, #f5f5f5 50%, #dbdbdb 50%, #f1f1f1 100%);
	background: -webkit-linear-gradient(top, #fff 0%, #d6d6d6 50%, #fff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#f1f1f1',GradientType=0 );
}
.vjs-default-skin .vjs-load-progress
{
	background: #666;
	background: linear-gradient(top, #666, #333);
	background: -moz-linear-gradient(top, #666, #333);
	background: -ms-linear-gradient(top, #666, #333);
	background: -o-linear-gradient(top, #666, #333);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#666), to(#333));
	background: -webkit-linear-gradient(top, #666, #333);
	opacity: 0.8;
}
.vjs-default-skin div.vjs-seek-handle
{
	background: url(../images/video-js-a4e882b3c27b7d6a6db65779704f0d6e.png) 0 -50px;
	border-radius: 0.8em;
	box-shadow: 0 2px 4px 0 #000;
	height: 16px;
	left: 0;
	margin-top: -0.3em;
	moz-border-radius: 0.8em;
	moz-box-shadow: 0 2px 4px 0 #000;
	position: absolute;
	top: 0;
	webkit-border-radius: 0.8em;
	webkit-box-shadow: 0 2px 4px 0 #000;
	width: 16px;
}
.vjs-default-skin .vjs-time-controls
{
	background: #333;
	background: linear-gradient(top, #333, #222);
	background: -moz-linear-gradient(top, #222, #333);
	background: -ms-linear-gradient(top, #333, #222);
	background: -o-linear-gradient(top, #333, #222);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#222), to(#333));
	background: -webkit-linear-gradient(top, #222, #333);
	background-color: #333;
	border-bottom: 1px solid #1F1F1F;
	border-top: 1px solid #222;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
	height: 1.0em;
	line-height: 1.0em;
	position: absolute;
	right: 0;
	top: -1.3em;
	width: 4.8em;
}
.vjs-default-skin .vjs-current-time
{
	left: 0;
}
.vjs-default-skin .vjs-duration
{
	display: none;
	right: 0;
}
.vjs-default-skin .vjs-remaining-time
{
	right: 0;
}
.vjs-time-divider
{
	display: none;
}
.vjs-default-skin .vjs-time-control
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
	line-height: 1;
}
.vjs-default-skin .vjs-time-control span
{
	line-height: 25px;
}
.vjs-secondary-controls
{
	float: right;
}
.vjs-default-skin .vjs-fullscreen-control
{
	cursor: pointer !important;
	float: right;
	width: 3.8em;
}
.vjs-default-skin .vjs-fullscreen-control div
{
	background: url(../images/video-js-a4e882b3c27b7d6a6db65779704f0d6e.png) -50px 0;
	height: 16px;
	margin: 0.5em auto 0;
	width: 16px;
}
.vjs-default-skin.vjs-fullscreen .vjs-fullscreen-control div
{
	background: url(../images/video-js-a4e882b3c27b7d6a6db65779704f0d6e.png) -75px 0;
}
.vjs-default-skin .vjs-big-play-button
{
	background: url(../images/btn-play-video-352a9601e3f90cbfe878e155c410a9c4.png) no-repeat 0 0;
	cursor: pointer;
	height: 89px;
	left: 50%;
	margin: -45px 0 0 -45px;
	position: absolute;
	top: 50%;
	width: 91px;
}
.vjs-default-skin div.vjs-big-play-button:hover
{
	background-position: 0 -82px;
}
.vjs-default-skin div.vjs-big-play-button span
{
	display: none;
}
.vjs-loading-spinner
{
	display: none;
	height: 55px;
	left: 50%;
	margin: -28px 0 0 -28px;
	moz-animation-duration: 1s;
	moz-animation-iteration-count: infinite;
	moz-animation-name: rotatethis;
	moz-animation-timing-function: linear;
	position: absolute;
	top: 50%;
	webkit-animation-duration: 1s;
	webkit-animation-iteration-count: infinite;
	webkit-animation-name: rotatethis;
	webkit-animation-timing-function: linear;
	width: 55px;
}