{% extends "base.html" %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block content %}
{% load split %}
<style type="text/css">
.post-list {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
/*font: inherit;*/
	vertical-align: baseline;
	clear: both;
/*font-size: 12px;*/
	font-weight: normal;
	line-height: 14px;
	display: block;
/*list-style-type: decimal;*/
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}
.post-body {
	margin: 0;
	padding: 0;
	border: 0;
	color: #292c33;
}
.post-title {
font-size: 18px;
/*font-weight: bold;*/
font-weight: normal;
line-height: 1em;
margin-bottom: 10px;

}
.post-item {
font-weight: normal;
clear: both;
/*margin: 0 0 60px 0!important;*/
min-height: 83px;
padding-left: 100px;
position: relative;
line-height: 14px;
/*margin-bottom: 30px;*/
word-wrap: break-word;
}
.post-content {
	/*font-size: 13px;*/
	margin-bottom: 10px;
	line-height: 1.4em;
	text-rendering: optimizeLegibility;
	color: #292c33;
}
.post-badge {
	position: absolute;
	top: 10px;
	left: 0;
	width: 65px;
	/*vertical-align: baseline;*/
	/*display: block;*/
}
.post-count {
	background-color: #fcfdff;
	border: 1px solid #cfd7e6;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: rgba(0,0,0,.1) 0 1px 1px;
	-webkit-box-shadow: rgba(0,0,0,.1) 0 1px 1px;
	box-shadow: rgba(0,0,0,.1) 0 1px 1px;
	color: #8f9bb3;
	font-size: 12px;
	line-height: 14px;
	/*margin-bottom: 3px;*/
	padding: 4px 0 1px 0;
	text-align: center;
	vertical-align: baseline;
}
.post-header {
	padding-top: 10px;
	word-wrap: break-word;
}

.post-count-post {
	display: block;
	font-size: 24px;
	padding-top: 2px;
	color: #555;
}

.post-up-off, .post-up-on, .post-down-off, .post-down-on{
	background-image: url('{{STATIC_URL}}images/forum/sprites.png');
	background-repeat: no-repeat;
	overflow: hidden;
}
.post-up-off, .post-down-off, .post-up-on, .post-down-on{
	text-indent: -9999em;
	font-size: 1px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	width: 41px;
	height: 25px;
	/*vertical-align: baseline;*/
	/*background: transparent;*/
}
.post-up-off{
	background-position: 0px -265px;
}
.post-down-off{
	background-position: 0px -300px;
}
.comment-body{
	color: #292c33;
	margin-left: 180px;
	padding: 0;
	border: 0;
	font-size: 100%;
	display: block;
}

.comment-list {
	list-style: none;
	clear: both;	
	font-weight: normal;
	line-height: 14px;
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
	font-size: 100%;
}
.comment-item {
    word-wrap: break-word;
    display: list-item;
	text-align: -webkit-match-parent;
	font-size: 14px;
	min-height: 40px;
	color: #666f80;
	line-height: 20px;
	margin-top: 20px;
	margin:0;
}
.comment-badge {
	border: 1px solid #FFF;
	-moz-box-shadow: rgba(0,0,0,.25) 0 1px 1px;
	-webkit-box-shadow: rgba(0,0,0,.25) 0 1px 1px;
	box-shadow: rgba(0,0,0,.25) 0 1px 1px;
	line-height: 1em;
	margin: 0 0 0 -70px;
	position: absolute;
	/*left: 0*/
}

.comment-photo {
	display: block;
	height: 50px;
	max-height: 50px;
	width: 50px;
	max-width: 50px;
}
.comment_content {
	color: #292c33;
	font-size: 14px;

}

.vcard {
    	width: 20px;
    	height: 20px;
    	color: #666f80;
	line-height: 20px;
    	border: 1px solid #FFFFFF;
    	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    	line-height: 1em;
    	border: 0 none;
    	height: auto;
    	max-width: 100%;
    	clear: both;
	display: block;
	vertical-align: baseline;
	/*position: relative;*/
	color: #666f80;
	margin: 0 0 0 20px;
	/*margin-left: 20px*/
}
</style>
<div class="container-narrow">
	<div class="row">
	<div class="span12">
		<div class="post-body">
			<ul class="post-list">
				<li class="post-item">
					<div class="post-header">
						<!-- <h2 class="post-title">{{post.title}}</h2> -->
						<div class="post-content">
							<p>{{post.content|linebreaksbr}}</p>								
								<div class="comment-badge vcard">
									{% if  post.user.avatar %}
										<span><img  src="{{ MEDIA_URL }}{{ post.user.avatar|split:","|first|join:""|split:"="|last }}/snap_50X50_{{ post.user.avatar|split:","|slice:"2"|join:""|split:"="|last }}.jpg"></span>
									{% else %}
										<span><img class="comment_photo" src="{{ STATIC_URL }}images/snap_50X50_default_head.jpg"></span>
									{% endif %}
								</div>
								<span style="margin-left:50px;">{{post.user.nick}} &nbsp {{post.created|date:"m-d H:i" }}</span>
						</div>
							
						<div class="post-badge">
							<div class="post-count">
								<a class="post-up-off" title="vote_up" href="javascript:vote_up({{ post.id }})">up post</a>
								<strong id="vote_{{ post.id }}"  style="color:#292c33;display:block;font-size:18px;font-weight:bold;margin-bottom:5px;font:inherit;vertical-align:baseline">
									{{ vote }}</strong>
								<a class="post-down-off" title="vote_down" href="javascript:vote_down({{ post.id }})">down vote</a>     
							</div>
						</div>					

						<div class="span10">
							<form  action="{% url 'forum_reply' %}" method="post">{% csrf_token %}
								<fieldset>
					 			<legend></legend>
					 			<label></label>
					  			<input  type="hidden" name="fid" value={{ post.id }}>
						 		<div id="comment" style="none">
					 				<textarea class="input-block-level" name="content" rows="4" placeholder="内容..."></textarea></div>
					  				<button type="submit" class="btn">提交回复</button>
								</fieldset>
							</form>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>

	<div class="span12">
			<div class="comment-body">
				<ul class="comment-list">
				{% for c in comments %}
					<li class="comment-item">
						<!-- <div class="comment-header"> -->
						{% if  c.user.avatar %}
						<span class="comment-badge"><img class="comment_photo" src="{{ MEDIA_URL }}{{ c.user.avatar|split:","|first|join:""|split:"="|last }}/snap_50X50_{{ c.user.avatar|split:","|slice:"2"|join:""|split:"="|last }}.jpg"></span>
						{% else %}
						<span class="comment-badge">	<img class="comment_photo" src="{{ STATIC_URL }}images/snap_50X50_default_head.jpg"></span>
						{% endif %}
						<p>{{c.user.nick}} &nbsp {{ c.created|date:"m-d H:i" }}</p>					
						<p>{{c.content|linebreaksbr }}</p>
						
						<!-- </div> -->
					</li>
					{%endfor%}
				</ul>
			</div>	
		</div>
	</div>
</div>
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}
