{% extends "base.html" %}
{% block header %}{% include "header.html" %}{% endblock %}
{% block content %}
{% load split %}
<style type="text/css">
.post-list {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
clear: both;
font-size: 12px;
font-weight: normal;
line-height: 14px;
display: block;
/*list-style-type: decimal;*/
-webkit-margin-before: 1em;
-webkit-margin-after: 1em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
-webkit-padding-start: 40px;
}
.post-body {
	margin: 0;
	padding: 0;
	border: 0;
	color: #292c33;
}
.post-title {
font-size: 18px;
/*font-weight: bold;*/
font-weight: normal;
line-height: 1em;
margin-bottom: 10px;

}
.post-item {
font-weight: normal;
clear: both;
margin: 0 0 60px 0!important;
min-height: 83px;
padding-left: 100px;
position: relative;
line-height: 14px;
margin-bottom: 8px;
word-wrap: break-word;
/*margin-bottom: 23px !important;*/
}
.post-content {
	font-size: 13px;
	margin-bottom: 10px;
	line-height: 1.4em;
	text-rendering: optimizeLegibility;
	color: #292c33;
}
.post-badge {
	position: absolute;
	top: 20px;
	left: 0;
	width: 70px;
	vertical-align: baseline;
	display: block;
}
.post-count {
	background-color: #fcfdff;
	border: 1px solid #cfd7e6;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: rgba(0,0,0,.1) 0 1px 1px;
	-webkit-box-shadow: rgba(0,0,0,.1) 0 1px 1px;
	box-shadow: rgba(0,0,0,.1) 0 1px 1px;
	color: #8f9bb3;
	font-size: 12px;
	line-height: 14px;
	margin-bottom: 3px;
	padding: 12px 0 9px 0;
	text-align: center;
	vertical-align: baseline;
}
.post-header {
padding-top: 11px;
word-wrap: break-word;
}

.post-count-post {
display: block;
font-size: 24px;
padding-top: 2px;
color: #555;
}

.post-up-off, .post-up-on, .post-down-off, .post-down-on{
background-image: url('{{STATIC_URL}}images/forum/sprites.png');
background-repeat: no-repeat;
overflow: hidden;
}
.post-up-off, .post-down-off, .post-up-on, .post-down-on{
	text-indent: -9999em;
	font-size: 1px;
	cursor: pointer;
	display: block;
	margin: 0 auto;
	width: 41px;
	height: 25px;
	/*vertical-align: baseline;*/
	/*background: transparent;*/
}
.post-up-off{
	background-position: 0px -265px;
}
.post-down-off{
	background-position: 0px -300px;
}

</style>
<div class="container-narrow">
	<div class="row">
		<div class="span12">
			<form action="{% url 'forum_add' %}" method="post">{% csrf_token %}
				<fieldset>
					 <legend></legend>
					 <label></label>
					  <!-- <input class="input-block-level" type="text" placeholder="标题..."> -->
					 <div id="comment" style="none">
					 	<textarea class="input-block-level" name="content" rows="4" placeholder="内容..."></textarea>
					 </div>
					  <button type="submit" class="btn">提交留言</button>
				</fieldset>
			</form>
		</div>

		<div class="span12">
		<div class="post-body">
			<ul class="post-list">
				{% for post,num,vote in posts %}
				<li class="post-item">
					<div class="post-header">
						<!-- <h2 class="post-title"><a href="{{ post.get_absolute_url }}">{{post.title}}</a></h2> -->
						<!-- <h2 class="post-title"><a href="{% url 'forum_post' post.id %}">{{post.title}}</a></h2> -->
						<div class="post-content">
							<p>{{post.content}}</p>
							<p>{{post.user.nick}}&nbsp  <a href="{% url 'forum_post' post.id %}"> {{num}}条评论</a>&nbsp{{ post.created }}</p>
						</div>
						<div class="post-badge">
							<div class="post-count">
								<a class="post-up-off" title="vote_up" href="javascript:vote_up({{ post.id }});">up post</a>
								<strong id="vote_{{ post.id }}"  sytle="color:#292c33;display:block;font-size:18px;font-weight:bold;margin-bottom:5px;font:inherit;vertical-align:baseline">
									{{ vote }}
								</strong>
								<a class="post-down-off"  title="vote_down" href="javascript:vote_down({{ post.id }});">down post</a>     
							</div>
						</div>
					</div>
				</li>
				{%endfor%}
			</ul>
		</div>
		</div>
	</div>
</div>
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}
