{% extends "msg_base.html" %}

{% block msg_index %}
<!-- <div class="main ">
	<div class="comment_in w1000">
		<div style="height:50px;"></div>
		<div class="send_content">
		<form  action="/msg_board/add_msg" method="post" onsubmit="return checkMsg();">
			<textarea id="msg_content" name="msg"></textarea>
			<div class="comment_small_bg" id="top_comment"></div>
			<div class="clear"></div>
			<div class="send_btn send_btn_top">
				<input type="hidden" name="send_from" value="1" />
				<input type="submit" name value="" class="btn_send"/>
				<input type="button" name value="" class="btn_cancel btn_cancel_top"/>
			</div>
		</form>
	</div>
	<div class="list_comment" style="margin-left:175px;">
		<ul class="msg_board">
			if msgList %}
			 if _SEDDION%}
			 if eqaul %}
<!-- 			<present name="msgList">
			<present name="_SESSION['RID']">
			<eq name="_SESSION['RID']" value="1"> -->
<!-- 				<volist name="msgList" id="msg">
				<li id="msg_id_{$msg.id}">
					<div class="board_left">
						<div class="board_img">
							<gt name="msg.user_id" value="0">
							<assign name="uid" value="$msg.user_id" />
							<neq name="userList.$uid" value="">
								<img src="{&IMG}/{$userList.$uid|getPicUri}/snap_50X50_{$userList.$uid|getPicName}" />
							<else />
							<img src="{&STATIC}/Img/snap_50X50_default_head.jpg" />
							</neq>
							
							<else />
								<img src="{&STATIC}/Img/snap_50X50_default_head.jpg" />
							</gt>
						</div>
					</div>
 --> -->
<ul>
{% for key,value in req.items %}
   <li>{{ key }} : {{ value }}</li>
</ul>
{% endfor %}
{{ u }}
{{ p }}
{% endblock %}