@CHARSET "UTF-8";
html{
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
	font:12px/1.5 Microsoft Yahei,宋体,arial,\5b8b\4f53;
	background-color:f8f8f8;
}
ul, li{margin:0px; padding:0px; list-style-type:none;}
img{border:none;}
a{
	 text-decoration: none;
}
a:hover{
	text-decoration:underline;
}
.main{
	width:100%;
	color:#000000;
}
.content{
	width:600px;
	margin:0 auto;
	font-size:16px;
}
.title{
	width:600px;
	height:64px;
	line-height:64px;
}
.title span{
	font-size:18px;
	color:#0e5bbf;
}
.invate_msg{
	
	color:#838383;
	line-height:45px;
	word-wrap: break-word;
}
.download_area{
	height:64px;
	width:222px;
	margin-left:203px;
	margin-top:18px;
}
.fun_area{
	width:548px;
	margin-left:30px;
	margin-top:48px;
}
.fun_area_text{
	margin-top:20px;
	line-height:35px;
	word-wrap: break-word;
	color:#838383;
}
.fun_area_text span{
	font-size:17px;
	color:#000000;
	
}
.fun_area_link{
	margin:10px 0 10px 0;
	height:26px;
	line-height:26px;
	text-align:right;
}
.fun_area_link a{
	color:#0e5bbf;
	text-decoration:underline;
}
.content_foot{
	height:50px;
}
