@CHARSET "UTF-8";
html{
	margin:0;
	padding:0;
}
body{
	margin:0;
	padding:0;
	font:12px/1.5 宋体,arial,\5b8b\4f53;
}
ul, li{margin:0px; padding:0px; list-style-type:none;}
a{
	 text-decoration: none;
}
img{
	border:none;
}
.main{
	width:1004px;
	margin:0 auto;
}
.header{
	width:100%;
	height:62px;
}
.header_in{
	width:1004px;
	margin:0 auto;
	background:url(../Img/column.jpg) repeat;
	height:62px;
	color:#fff;
	font-weight:bold;
}
.footer{
	width:100%;
	height:65px;
}
.footer_in{
	width:1004px;
	margin:0 auto;
	background:url(../Img/column.jpg) repeat 0 -112px;
	height:65px;
	color:#fff;
	font-weight:bold;
}
.logo{
	width:210px;
	height:47px;
	line-height:47px;
	float:left;
	margin:15px 0 0 65px;
	_margin:15px 0 0 33px;
}
.logo span{
	float:left;
}
.menu{
	margin:30px 0 0 0;
	height:22px;
	width:527px;
	line-height:22px;
	float:left;
}
.menu a{
	display:block;
	float:left;
	color:#fff;
	font-size:16px;
	height:22px;
	padding:0 27px 0 27px;
}
.menu a:hover{
	font-size:14px;
	height:20px;
	background-color:#89d026;
	border:1px solid #d8e8f8;
}
.menu_select{
	font-size:14px;
	height:20px;
	background-color:#89d026;
	border:1px solid #d8e8f8;
}
.lr{
	margin:33px 0 0 10px;
	float:left;
	width:150px;
	height:20px;
}
.lr a{
	color:#fff;
	font-size:14px;
	margin-right:22px;
}
.top_node{
	width:1004px;
	height:370px;
	background:url(../Img/top_pic.jpg) no-repeat;
}
.download_btn{
	width:239px;
	height:63px;
	padding:145px 0 0 693px;
}
.center_c{
	background:url(../Img/column.jpg) repeat 0 -62px;
	height:51px;
}
.contact_us{
	height:40px;
	padding-top:8px;
}
.contact_us span{
	display:block;
	height:40px;
	line-height:40px;
	float:left;
	font-size:14px;
	color:#2a2a2a;
}
.weibo{

	width:37px;
	height:40px;

	margin-left:117px;
	_margin-left:59px;
	background:url(../Img/contact.gif) no-repeat;
}
.weibo_addr{
	width:110px;
}
.weibo_addr a{
	color:#2a2a2a;
}
.email_us{

	width:45px;
	height:40px;
	margin-left:130px;
	background:url(../Img/contact.gif) no-repeat -37px 0;
}
.email_addr{
	width:160px;
}
.qq{
	width:38px;
	height:40px;
	margin-left:115px;
	background:url(../Img/contact.gif) no-repeat -82px 0;
}
.qq_addr{
	width:160px;
}
.center_area{
	height:795px;
	width:1004px;
	background:url(../Img/index_bg.jpg) repeat;
}

.product{
	padding-top:31px;
	padding-left:100px;
	height:282px;
}

.product li{
	width:197px;
	height:282px;
	float:left;
	background-color:#fff;
	margin-right:7px;
}
.p_title{
	width:150px;
	height:34px;
	line-height:34px;
	font-size:20px;
	font-family:幼圆;
	font-weight:bold;
	color:#338bc4;
	margin:16px 0 0 16px;
}
.p_content{
	width:150px;
	height:70px;
	line-height:20px;
	margin:8px 0 0 16px;
}
.p_img{
	width:168px;
	height:138px;
	text-align:center;
	margin:0 0 0 14px;
	
}
.msg_board{
	width:502px;
	height:400px;
	float:left;
	padding-left:100px;
	padding-top:40px;
}
.msg_tab{
	width:71px;
	height:26px;
	line-height:26px;
	color:#fff;
	text-align:center;
	font-size:14px;
	margin-left:16px;
	background:url(../Img/tab.gif) no-repeat;
}
.msg_content{
	background:url(../Img/tab_bg.jpg) repeat;
	height:374px;
	width:502px;
}

.msg_content ul li{
	height:116px;
	width:458px;
	margin-left:20px;
}
.msg_send{
	padding-top:10px;
}
.board_img{
	width:56px;
	height:56px;
	background:url(../Img/avatar_bg.jpg);
}
.avatar_td{
	width:82px;
	text-align:left;
	height:88px;
}
.content_td{
	width:375px;
	text-align:left;
}
.send_box_left{
	width:19px;
	height:70px;
	float:left;
	background:url(../Img/send_box_left.jpg) no-repeat;
	margin-right:-1px;
}
.send_box{
	float:left;
	width:350px;
	height:70px;
	border-top:1px solid #d0cfd1;
	border-right:1px solid #d0cfd1;
	border-bottom:1px solid #d0cfd1;
	background-color:#eceded;
}
.send_box textarea{
	width:350px;
	height:68px;
	background-color:#eceded;
	border:none;
}
.clear_both{
	clear:both;
}
.send_btn{
	padding:0;
	margin:0px;
	border:none;
	width:47px;
	height:20px;
	background:url(../Img/tab_btn.gif) no-repeat -5px 0 ;
	float:right;
	
}
.user_msg{
	border-top:1px solid #d9dadb;
	margin-top:5px;
}
.more_msg{
	background:url(../Img/tab_btn.gif) no-repeat -62px 0 ;
	display:block;
	width:60px;
	height:20px;
	float:right;
}
.new_guide{
	width:288px;
	height:400px;
	float:left;
	padding-left:12px;
	padding-top:40px;
}
.guide_tab{
	width:71px;
	height:26px;
	line-height:26px;
	color:#fff;
	text-align:center;
	font-size:14px;
	margin-left:20px;
	background:url(../Img/tab.gif) no-repeat;
}
.guide_content{
	background:url(../Img/tab_bg.jpg) repeat;
	height:374px;
	width:288px;
}
.guide_content table{
	margin-left:21px;
	padding-top:18px;
}
.guide_l{
	width:32px;
	height:52px;
	text-align:center;
}
.guide_l div{
	background:url(../Img/guide_1.gif) no-repeat;
	width:13px;
	height:11px;
}
.guide_r{
	height:52px;
	width:215px;
	text-align:left;
}
.more_guide{
	background:url(../Img/tab_btn.gif) no-repeat -130px 0 ;
	display:block;
	width:60px;
	height:20px;
	float:right;
	margin:58px 20px 0 0; 
}