@CHARSET "UTF-8";
.bushixian{
	text-decoration: line-through;
}
.right{text-align:right;}
.center{text-align:center;}


.w950{width:950px;}
.input-len{width:155px;}

.main-body{margin:0 auto;padding-left: 50px;}
.admin-manager{background: none repeat scroll 0 0 #EBEBEB;float: left;padding: 15px 10px 15px 20px;width: 170px;}
.content{margin:0 auto;}

.header{text-align:center;}
.title{font-size:14px;font-weight: bold;}
.footer{text-align:center;margin-top:50px;}

.register{margin:0 auto;}
.login{margin:0 auto;}
.user-result{text-align:center;font-size:12px;}
