{% extends "user/base.html" %}

{% block header %}{% include "user/header.html" %}{% endblock %}
{% block content %}
{% load split %}
<div class="main-container container-fluid">
	<a class="menu-toggler" id="menu-toggler" href="#">
		<span class="menu-text"></span>
	</a>

	<div class="sidebar" id="sidebar">

		{% include "user/menu.html" %}

		<div class="sidebar-collapse" id="sidebar-collapse">
			<i class="icon-double-angle-left"></i>
		</div>
	</div>

	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="/User/index">首页</a>

					<span class="divider">
						<i class="icon-angle-right arrow-icon"></i>
					</span>
				</li>
				<li>
					<a href="/User/info_new">个人资料</a>

					<span class="divider">
						<i class="icon-angle-right arrow-icon"></i>
					</span>
				</li>
				<li class="active">头像</li>
			</ul>
		</div>
		<div>{{msg}}</div>
		<div class="widget-box transparent">
			<form id="avatarForm" action="{% url 'avatar' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="user_pic" style="margin:24px 0 0 20px;float:none;">
				{% if avatar %}
					<img class="nav-user-photo" src="{{ MEDIA_URL }}{{ avatar|split:","|first|join:""|split:"="|last }}/snap_60X60_{{ avatar|split:","|slice:"2"|join:""|split:"="|last }}.jpg" alt="{{ user.nick }}">
				{% else %}
					<img class="nav-user-photo" src="{{ STATIC_URL }}images/default_head.jpg" />
				{% endif %}
				</div>
				<br />
				<div style="margin-left:20px;">
					<input id="avatar_pic" type="file" name="avatar" value="" /><span id="msg" style="color:red;"></span>
					<br>
					支持JPG、PNG、GIF图片文件，文件大小小于1M
					<br />
					<br />
					<div class="row-fluid" style="margin-top:15px;">
						<button  class="avatarSave btn btn-info btn-small">
							<i class="icon-save bigger-110"></i>
							保存
						</button> 
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>

$(document).ready(function(){
	$(".avatarSave").click(function(){
		  var ava=$("#avatar_pic").val();
		  if(ava==undefined||ava==null||ava==""){
			 $("#msg").html("&nbsp;&nbsp;请先选择一张要上传的图片！");
			 return false;
		  }
		  $("#avatarForm").submit();
	});
});

</script>
{% endblock %}
{% block footer %}{% include "user/footer.html" %}{% endblock %}