{% extends "user/base.html" %}
{% block header %}{% include "user/header.html" %}{% endblock %}
{% block content %}
{% load split %}

<div class="main-container container-fluid">
			<a class="menu-toggler" id="menu-toggler" href="{% url "index" %}">
				<span class="menu-text"></span>
			</a>

			<div class="sidebar" id="sidebar">
				{% include "user/menu.html" %}


				<div class="sidebar-collapse" id="sidebar-collapse">
					<i class="icon-double-angle-left"></i>
				</div>
			</div>

			<div class="main-content">
			<!-- 	<div class="breadcrumbs" id="breadcrumbs">
					<ul class="breadcrumb ">
						<li  class="text-center">
							复制链接给其他团队成员，邀请他们成为您的SimleNect好友：http://simplenect.cn/xxxxx
							
						</li>
					</ul>.breadcrumb-->
				<!-- </div> --> 

				<div class="page-content">
					<div class="page-header position-relative text-center">

						<a href="{{DOWNLOAD}}/Install/{{ins_file}}" class="btn btn-warning">
							<i class="icon-download"></i>
							下载Windows客户端
						</a>
					</div><!--/.page-header-->

					<div class="row-fluid">
						<div class="span12">
							<!--PAGE CONTENT BEGINS-->
<!-- 
							<div class="alert alert-block alert-warn">
								<button type="button" class="close" data-dismiss="alert">
									<i class="icon-remove"></i>
								</button>

								<i class="icon-lightbulb green"></i>  

								您的注册邮箱yang0@126.com尚未认证，请在收件箱或垃圾箱查收邮件，或者
								<a href="">点击重发认证邮件</a>
							</div> -->

			 			<!-- 	<div class="widget-box transparent">
								<div class="widget-header widget-header-flat">
									<h4 class="lighter">
										<i class="icon-group"></i>
										团队 
										<a href="" class="btn btn-small  btn-info"><i class="icon-plus"></i>创建团队</a>
									</h4>

									<div class="widget-toolbar">
										<a href="#" data-action="collapse">
											<i class="icon-chevron-up"></i>
										</a>
									</div>
								</div>

								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th>
														<i class="icon-caret-right blue"></i>
														团队名称
													</th>

													<th>
														<i class="icon-caret-right blue"></i>
														成员数
													</th>

													<th class="hidden-phone">
														<i class="icon-caret-right blue"></i>
														在线人数
													</th>


													<th class="hidden-phone">
														<i class="icon-caret-right blue"></i>
														创建人
													</th>
												</tr>
											</thead>

											<tbody>
												<tr>
								                  <td>SimpleNect</td>
								                  <td>5人</td>
								                  <td>2人</td>
								                  <td>张三</td>
								                </tr>
											</tbody>
										</table> -->
									<!-- </div>/widget-main -->
								<!-- </div>/widget-body -->
							<!-- </div>  -->

<!-- <div class="hr hr32 hr-dotted"></div> -->

							<div class="row-fluid">

								<div class="span5">
									
									<div class="widget-box transparent">
										<div class="widget-header widget-header-flat">
											<h4 class="lighter">
												<i class="icon-credit-card orange"></i>
												购买的产品
												<a href="{% url 'buy' %}" class="btn btn-small  btn-info"><i class="icon-eye-open"></i>查看产品价格</a>
											</h4>

											<div class="widget-toolbar">
												<a href="#" data-action="collapse">
													<i class="icon-chevron-up"></i>
												</a>
											</div>
										</div>

										<div class="widget-body">
											<div class="widget-main no-padding">
												<table class="table table-bordered table-striped">
													<thead>
														<tr>
															<th>
																<i class="icon-caret-right blue"></i>
																产品名称
															</th>

															<th>
																<i class="icon-caret-right blue"></i>
																可用授权人数
															</th>

															<th class="hidden-phone">
																<i class="icon-caret-right blue"></i>
																已授权人数
															</th>


															<th class="hidden-phone">
																<i class="icon-caret-right blue"></i>
																剩余天数
															</th>
														</tr>
													</thead>

													<tbody>
										                <tr>
										                  <td>打印共享方案</td>
										                  <td>{{printer_num}}人</td>
										                  <td>{{used_num}}人 [ <a href="/User/printer/auth">修改</a> ]</td>
										                  <td>
										                  	{% if remain_days %}{{remain_days}}{% else%}0{% endif %}天[ <a href="{% url 'buy' %}">续费</a> ]</td>
										                </tr>
													</tbody>
												</table>
											</div><!--/widget-main-->
										</div><!--/widget-body-->
									</div>
								</div>
								<div class="span7 infobox-container">


									<div class="infobox infobox-orange2  ">
										<div class="infobox-icon">
											<i class="icon-group"></i>
										</div>

										<div class="infobox-data">
											<span class="infobox-data-number">{{my_friends}}人</span>
											<div class="infobox-content">我的好友</div>
										</div>
									</div>
									

									<div class="infobox infobox-red  ">
										<div class="infobox-icon">
											<i class="icon-folder-close-alt"></i>
										</div>

										<div class="infobox-data">
											<span class="infobox-data-number">{% if share_folder %}{{share_folder}}{% else %}0{% endif %}个</span>
											<div class="infobox-content">我的共享文件夹</div>
										</div>
									</div>

									
<!-- 
									<div class="infobox infobox-blue2  ">
										<div class="infobox-icon">
											<i class="icon-print"></i>
										</div>

										<div class="infobox-data">
											<span class="infobox-data-number">0台</span>
											<div class="infobox-content">好友的共享打印机</div>
										</div>
									</div> -->

<!-- 									<div class="infobox infobox-green  ">
										<div class="infobox-icon">
											<i class="icon-comment-alt"></i>
										</div>

										<div class="infobox-data">
											<span class="infobox-data-number">0条</span>
											<div class="infobox-content">30天内聊天记录</div>
										</div>
									</div> -->

<!-- 									<div class="infobox infobox-blue  ">
										<div class="infobox-icon">
											<i class="icon-exchange"></i>
										</div>

										<div class="infobox-data">
											<span class="infobox-data-number">0次</span>
											<div class="infobox-content">30天内文件传输</div>
										</div>
									</div> -->

									<div class="infobox infobox-pink  ">
										<div class="infobox-icon">
											<i class="icon-reorder"></i>
										</div>

										<div class="infobox-data">
											<span class="infobox-data-number">{{ print_count }}次</span>
											<div class="infobox-content">30天内打印次数</div>
										</div>
									</div>
								</div>
							</div>

<!-- <div class="hr hr32 hr-dotted"></div> -->


<!-- 							<div class="widget-box transparent">
								<div class="widget-header widget-header-flat">
									<h4 class="lighter">
										<i class="icon-exchange"></i>
										文件传输记录
										
									</h4>
									<div class="widget-toolbar no-border">
										<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
											查看全部
											<i class="icon-angle-down icon-on-right"></i>
										</button>

										<ul class="dropdown-menu dropdown-info pull-right dropdown-caret">
											<li class="active">
												<a href="#"><i class="icon-exchange"></i> 查看全部</a>
											</li>

											<li>
												<a href="#"><i class="icon-upload"></i> 只看上传</a>
											</li>

											<li>
												<a href="#"><i class="icon-download"></i> 只看下载</a>
											</li>
										</ul>
									</div>

									<div class="widget-toolbar">
										<a href="#" data-action="collapse">
											<i class="icon-chevron-up"></i>
										</a>
									</div>
								</div>

								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="span6">
														<i class="icon-caret-right blue"></i>
														资料名称
													</th>

													<th class="span3">
														<i class="icon-caret-right blue"></i>
														传输对象
													</th>

													<th class="span3">
														<i class="icon-caret-right blue"></i>
														最后完成时间
													</th>


												</tr>
											</thead>

											<tbody>
												<tr>
								                  <td><i class="icon-folder-close-alt"></i>  这是一个测试资料</td>
								                  <td>张三 <i class="icon-download"></i></td>
								                  <td>13-09-09 12:12</td>
								                </tr>
								                <tr>
								                  <td><i class="icon-file-alt"></i>  佣兵天下.epb</td>
								                  <td>李四 <i class="icon-upload"></i></td>
								                  <td>13-09-09 12:12</td>
								                </tr>
								                <tr>
								                	<td colspan="3" style="text-align:center"><a href="">查看更多记录</a></td>
								                </tr>
											</tbody>
										</table>
									</div>/widget-main
								</div>/widget-body
							</div> -->




<div class="hr hr32 hr-dotted"></div>
							
							<div class="widget-box transparent">
								<div class="widget-header widget-header-flat">
									<h4 class="lighter">
										<i class="icon-reorder orange"></i>
										我的打印记录
										
									</h4>

									<div class="widget-toolbar">
										<a href="#" data-action="collapse">
											<i class="icon-chevron-up"></i>
										</a>
									</div>
								</div>

								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="span6">
														<i class="icon-caret-right blue"></i>
														资料名称
													</th>

													<th class="span3">
														<i class="icon-caret-right blue"></i>
														用纸数量
													</th>

													<th class="span3">
														<i class="icon-caret-right blue"></i>
														最后完成时间
													</th>


												</tr>
											</thead>

											<tbody>
												{% for i in print_record %}
												<tr>
								                  		<td><i class="icon-file-alt"></i>&nbsp&nbsp{{ i.file_name|split:"\\"|last }}</td>
								                  		<td>{{ i.page_num }}</td>
								                  		<td>{{ i.print_time }}</td>
								                	</tr>
								                	{% endfor %}
								                <tr>
								                	<td colspan="4" style="text-align:center"><a href="{% url 'print_record' %}" target="_blank">查看更多记录</a></td>
								                </tr>
											</tbody>
										</table>
									</div><!--/widget-main-->
								</div><!--/widget-body-->
							</div>




<div class="hr hr32 hr-dotted"></div>
						{%if my_printer %}
							<div class="widget-box transparent">
								<div class="widget-header widget-header-flat">
									<h4 class="lighter">
										<i class="icon-print"></i>
										我的共享打印机
										
									</h4>
<!-- 									<div class="widget-toolbar no-border">
										<button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
											fx xxxxxxx打印机
											<i class="icon-angle-down icon-on-right"></i>
										</button>

										<ul class="dropdown-menu dropdown-info pull-right dropdown-caret">
											<li class="active">
												<a href="#"> fx xxxxxxx打印机</a>
											</li>

											<li>
												<a href="#">HP打印机</a>
											</li>

											<li>
												<a href="#">三星打印机</a>
											</li>
										</ul>
									</div> -->

									<div class="widget-toolbar">
										<a href="#" data-action="collapse">
											<i class="icon-chevron-up"></i>
										</a>
									</div>
								</div>

								<div class="widget-body">
									<div class="widget-main no-padding">
										<table class="table table-bordered table-striped">
											<thead>
												<tr>
													<th class="span6">
														<i class="icon-caret-right blue"></i>
														资料名称
													</th>

													<th class="span3">
														<i class="icon-caret-right blue"></i>
														数据来源
													</th>

													<th class="span3">
														<i class="icon-caret-right blue"></i>
														用纸数量
													</th>

													<th class="span3">
														<i class="icon-caret-right blue"></i>
														最后完成时间
													</th>


												</tr>
											</thead>

											<tbody>
												{% for i in my_printer %}
											<tr>
								                  <td><i class="icon-file-alt"></i>&nbsp&nbsp{{ i.file_name|split:"\\"|last }}</td>
            										<td>{{ i.origin_email }}</td>
            										<td>{{ i.page_num }}</td>
								                  	<td>{{ i.print_time }}</td>
								                </tr>
								                	{% endfor %}
								                <tr>
								                	<td colspan="4" style="text-align:center"><a href="{% url 'my_printer' %}" target="_blank">查看更多记录</a></td>
								                </tr>
											</tbody>
										</table>
									</div><!-- /widget-main -->
								</div><!-- /widget-body -->
							</div>
							{% endif %}




							<!--PAGE CONTENT ENDS-->
						</div><!--/.span-->
					</div><!--/.row-fluid-->
				</div><!--/.page-content-->

<!-- 				<div class="ace-settings-container" id="ace-settings-container">
					<div class="btn btn-app btn-mini btn-warning ace-settings-btn" id="ace-settings-btn">
						<i class="icon-cog bigger-150"></i>
					</div>

					<div class="ace-settings-box" id="ace-settings-box">
						<div>
							<div class="pull-left">
								<select id="skin-colorpicker" class="hide" style="display: none;">
									<option data-class="default" value="#438EB9">#438EB9
									</option><option data-class="skin-1" value="#222A2D">#222A2D
									</option><option data-class="skin-2" value="#C6487E">#C6487E
									</option><option data-class="skin-3" value="#D0D0D0">#D0D0D0
								</option></select><div class="dropdown dropdown-colorpicker"><a data-toggle="dropdown" class="dropdown-toggle" href="#"><span class="btn-colorpicker" style="background-color:#438EB9"></span></a><ul class="dropdown-menu dropdown-caret"><li><a class="colorpick-btn selected" href="#" style="background-color:#438EB9;" data-color="#438EB9"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#222A2D;" data-color="#222A2D"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#C6487E;" data-color="#C6487E"></a></li><li><a class="colorpick-btn" href="#" style="background-color:#D0D0D0;" data-color="#D0D0D0"></a></li></ul></div>
							</div>
							<span>&nbsp; Choose Skin</span>
						</div>

						<div>
							<input type="checkbox" class="ace-checkbox-2" id="ace-settings-header">
							<label class="lbl" for="ace-settings-header"> Fixed Header</label>
						</div>

						<div>
							<input type="checkbox" class="ace-checkbox-2" id="ace-settings-sidebar">
							<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
						</div>

						<div>
							<input type="checkbox" class="ace-checkbox-2" id="ace-settings-breadcrumbs">
							<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
						</div>

						<div>
							<input type="checkbox" class="ace-checkbox-2" id="ace-settings-rtl">
							<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
						</div>
					</div>
				</div> -->
				<!--/#ace-settings-container-->
			</div><!--/.main-content-->
		</div>

		<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only bigger-110"></i>
		</a>


{% endblock %}
{% block footer %}{% include "user/footer.html" %}{% endblock %}