<a class="menu-toggler" id="menu-toggler" href="#">
	<span class="menu-text"></span>
</a>

<div class="sidebar" id="sidebar">
		{% if user.is_authenticated %}
		<ul class="nav nav-list">
			<li class="active">
				<a href="/User/index">
					<i class="icon-dashboard"></i>
					<span class="menu-text"> 个人中心首页 </span>
				</a>
			</li>

<!-- 					<li>
				<a href="/User/friend">
					<i class="icon-group"></i>
					<span class="menu-text"> 好友 </span>
				</a>
			</li> -->


			<li id="menu_user_info">
				<a href="/User/info_new">
					<i class="icon-user"></i>
					<span class="menu-text"> 个人资料 </span>
				</a>
			</li>
			{% if not request.session.print_auth and  request.session.print_auth > 0 %}
			<li>
				<a href="/User/printer/auth/">
					<i class="icon-print"></i>
					<span class="menu-text"> 打印共享授权</span>
				</a>
			</li>
			{% endif %}
			{% if user.is_superuser or request.session.group_owner %}
			<li>
				<a href="/group/group_list">
					<i class="icon-group"></i>
					<span class="menu-text"> 群  </span>
				</a>
			</li>
			{% endif %}

			
			<!-- 
			<li>
				<a href="tables.html">
					<i class="icon-list-alt"></i>
					<span class="menu-text"> 支付记录 </span>
				</a>
			</li>

			

			<li>
				<a href="widgets.html">
					<i class="icon-sitemap"></i>
					<span class="menu-text"> 软件代理 </span>
				</a>
			</li> -->


			
		</ul><!--/.nav-list-->
		<div class="sidebar-collapse" id="sidebar-collapse">
		<i class="icon-double-angle-left"></i>
		</div>
			{% if request.session.print_auth == None %}
			<script>
			$.post("{% url 'accounts_authed_printer' %}",{"aa":1},function(data){
				if(data.status){
					$("#menu_user_info").after('<li><a href="/User/printer/auth/"><i class="icon-print"></i><span class="menu-text"> 打印共享授权</span></a></li>');
				}
			},"json");
			</script>
			{% endif %}
		{% endif %}
</div>

