				<ul class="nav nav-list">
					<li class="active">
						<a href="index.html">
							<i class="icon-dashboard"></i>
							<span class="menu-text"> 个人中心首页 </span>
						</a>
					</li>

					<li>
						<a href="/user/friend">
							<i class="icon-group"></i>
							<span class="menu-text"> 好友 </span>
						</a>
					</li>


					<li>
						<a href="/user/info">
							<i class="icon-user"></i>
							<span class="menu-text"> 个人资料 </span>
						</a>
					</li>


					

					<li>
						<a href="tables.html">
							<i class="icon-list-alt"></i>
							<span class="menu-text"> 支付记录 </span>
						</a>
					</li>

					

					<li>
						<a href="widgets.html">
							<i class="icon-sitemap"></i>
							<span class="menu-text"> 软件代理 </span>
						</a>
					</li>


					
				</ul><!--/.nav-list-->