{% extends "user/base.html" %}

{% block header %}{% include "user/header.html" %}{% endblock %}
{% block content %}
{% load split %}
{% load pagination_tags %}
{% autopaginate print_record 50 %}
<div class="main-container container-fluid">
	<a class="menu-toggler" id="menu-toggler" href="#">
		<span class="menu-text"></span>
	</a>

	<div class="sidebar" id="sidebar">

		{% include "user/menu.html" %}

		<div class="sidebar-collapse" id="sidebar-collapse">
			<i class="icon-double-angle-left"></i>
		</div>
	</div>

	<div class="main-content">
		<div class="breadcrumbs" id="breadcrumbs">
			<ul class="breadcrumb">
				<li>
					<i class="icon-home home-icon"></i>
					<a href="/User/index">首页</a>

					<span class="divider">
						<i class="icon-angle-right arrow-icon"></i>
					</span>
				</li>
				<li class="active">我的共享打印机</li>
			</ul>
		</div>

		<div class="page-content">
			<div class="widget-box transparent">
					<div class="widget-header widget-header-flat">
						<h4 class="lighter">
							<i class="icon-reorder orange"></i>
							我的打印记录(共{{paginator.count}}条,累计使用{%if pages.pages %}{{ pages.pages }}{% else %}0{%endif%}张)
							
						</h4>

						<div class="widget-toolbar">
							<a href="#" data-action="collapse">
								<i class="icon-chevron-up"></i>
							</a>
						</div>
					</div>
	<form class="form-serch" action="">{% csrf_token %}
		Email：<input class="input-medium search-query" name="email" type="text" placeholder="输入要查询的Email...">
	<!-- 	开始日期: <input type="text" name="end_day" class="Wdate search_day" title="统计日期" value="{{ day }}"     onFocus="WdatePicker({minDate:'2011-11-08',startDate:'{{ day }}',dateFmt:'yyyy-MM-dd'})" readonly style="width:90px;font-size:12px;color:#555555" />
		结束日期: <input type="text" name="end_day" class="Wdate search_day" title="统计日期" value="{{ day }}"     onFocus="WdatePicker({minDate:'2011-11-08',startDate:'{{ day }}',dateFmt:'yyyy-MM-dd'})" readonly style="width:90px;font-size:12px;color:#555555" /> -->
		<button type="submit" class="btn" style="border: 5px solid;" >查询</button>
			
	</form>

					<div class="widget-body">
						<div class="widget-main no-padding">
							<table class="table table-bordered table-striped">
								<thead>
									<tr>
										<th class="span6">
											<i class="icon-caret-right blue"></i>
											资料名称
										</th>

										<th class="span3">
											<i class="icon-caret-right blue"></i>
											数据来源
										</th>

										<th class="span3">
											<i class="icon-caret-right blue"></i>
											用纸数量
										</th>

										<th class="span3">
											<i class="icon-caret-right blue"></i>
											最后完成时间
										</th>


									</tr>
								</thead>

								<tbody>
									{% for i in print_record %}
									<tr>
					                  		<td><i class="icon-file-alt"></i>&nbsp&nbsp{{ i.file_name|split:"\\"|last }}</td>
					                  		<td>{{i.origin_email}}</td>
					                  		<td>{{ i.page_num }}</td>
					                  		<td>{{ i.print_time }}</td>
					                	</tr>
					                	{% endfor %}
					                <tr>
					                	<td colspan="4" style="text-align:center">{% paginate %}</td>
					                </tr>
								</tbody>
							</table>
						</div><!--/widget-main-->
					</div><!--/widget-body-->
				</div>

		</div>


	</div><!--/.main-content-->
</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse">
	<i class="icon-double-angle-up icon-only bigger-110"></i>
</a>


{% endblock %}
{% block footer %}{% include "user/footer.html" %}{% endblock %}